@media all {


/* HTML5 Reset Stylesheet v1.6.1 (Customised) http://html5doctor.com/html-5-reset-stylesheet/ */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
body{line-height:1;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
nav ul{list-style:none;}
nav ul,nav li{margin:0;} 
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
a{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;background:transparent;}
a:active{outline:0;}
ins{background:#ff9;color:#000;text-decoration:none;}
mark{background:#ff9;color:#000;font-style:italic;font-weight:bold;}
del{text-decoration:line-through;}
abbr[title],dfn[title]{border-bottom:1px dotted #999;cursor:help;}
table{border-collapse:collapse;border-spacing:0;}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}
input,select{vertical-align:middle;}
img{vertical-align:middle;-ms-interpolation-mode:bicubic;}
sub,sup{font-size:75%;line-height:0;position:relative;}
sup{top:-.5em;}
sub{bottom:-.25em;}

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements in most situations. nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,.clearfix:after{content:"";display:table;}
.clearfix:after{clear:both;}
.clearfix{zoom:1;}


}
/* end of @media all */




/* standard styling and layout for screen > 959px */
@media screen {


/* layout */

html {
	font-size:62.5%;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
}

body {
	background:#fff;
	margin:0 auto 20px;
	width:960px;
}

header {
	border-left:solid 1px #d4d4d4;
	border-right:solid 1px #d4d4d4;
	background:#f0f2f6;
	padding:10px 10px 0;
}

nav h2 {
	display:none;
}

nav ul,
nav li {
	margin:0;
} 

nav {
	border:solid 1px #e1a61a;
	background:#ffda44;
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#ffda44),color-stop(1,#fabc2b));
	background:-moz-linear-gradient(#ffda44,#fabc2b);
	background:-ms-linear-gradient(#ffda44,#fabc2b);
	background:-o-linear-gradient(#ffda44,#fabc2b);
	background:linear-gradient(#ffda44,#fabc2b);
	border-radius:0 0 5px 5px;
}

nav li {
	float:left;
	border-right:solid 1px #e1a61a;
}

nav a {
	display:block;
	padding:10px;
	text-decoration:none;
	color:#333;
	text-shadow:1px 1px #fbd978;
}

nav a:hover,
nav a:active {
	text-decoration:none;
	background:#fcdd62;
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#fcdd62),color-stop(1,#fec94c));
	background:-moz-linear-gradient(#fcdd62,#fec94c);
	background:-ms-linear-gradient(#fcdd62,#fec94c);
	background:-o-linear-gradient(#fcdd62,#fec94c);
	background:linear-gradient(#fcdd62,#fec94c);
}

#main {
	float:left;
	width:640px;
	margin:20px 10px 0;
}

#sidebar {
	float:left;
	border:solid 1px #d4d4d4;
	background:#f0f2f6;
	width:258px;
	margin:20px 10px;
	padding:10px 10px 0;
	border-radius:5px;
}

footer {
	clear:both;
	border:solid 1px #d4d4d4;
	background:#f0f2f6;
	padding:10px;
	width:938px; /* declare width to fix for IE7 double padding bug */
	border-radius:5px;
}


/* links */

a {
	-webkit-tap-highlight-color:rgba(255,230,153,.5);
	text-decoration:none;
	color:#1a428b;
}

header a {
	text-decoration:none;
	color:#333;
}

#main a:hover,
#main a:active,
#sidebar a:hover,
#sidebar a:active {
	text-decoration:underline;
	color:#1a428b;
}

#main a:visited,
#sidebar a:visited {
	color:#551a8b;
}

#main h1 a {
	color:#333;
}

#main h1 a:hover,
#main h1 a:active,
#main h1 a:visited {
	text-decoration:none;
	background:#f0f2f6;
	color:#333;
}


/* typography */

body {
	font-size:13px;
	font-size:1.3rem; /* http://snook.ca/archives/html_and_css/font-size-with-rem */
	line-height:1.5em;
	font-family:Verdana, Tahoma, Arial, sans-serif;
	color:#333;
}

abbr,
acronym { /* acronym to be phased out of textile in favour of abbr */
	border-bottom:1px dotted #999;
	cursor:help;
}

blockquote {
	float:right;
	font-family:'Droid Serif', Georgia, Times, serif;
	font-style:italic;
	width:260px;
	background:#f7f8fb;
	border-radius:5px;
	padding:1em 10px 0;
	margin:0 0 .5em 1em;
}

code,
pre,
kbd {
	font-family:Cousine, Consolas, Monaco, monospace;
	background:#fdf8eb;
}

pre {
	padding:1em 10px;
	margin-bottom:1.3em;
	overflow-x:auto;
	border-radius:5px;
}

h1 {
	font-size:40px;
	font-size:4rem; /* http://snook.ca/archives/html_and_css/font-size-with-rem */
	line-height:1.1em;
	padding-top:10px;
	font-weight:bold;
	font-family:Helvetica, Arial, Verdana, sans-serif;
	letter-spacing:-1px;
	padding-bottom:20px;
}

h2 {
	font-size:40px;
	font-size:4rem; /* http://snook.ca/archives/html_and_css/font-size-with-rem */
	line-height:1.1em;
	font-weight:bold;
	font-family:Helvetica, Arial, Verdana, sans-serif;
	letter-spacing:-1px;
	padding-bottom:20px;
}

h3 {
	font-size:25px;
	font-size:2.5rem; /* http://snook.ca/archives/html_and_css/font-size-with-rem */
	line-height:1.3em;
	font-style:italic;
	font-weight:normal;
	font-family:'Droid Serif', Georgia, Times, serif;
	padding-bottom:12px;
}

h5 {
	font-weight:normal;
}

p {
	padding-bottom:1em;
}

small,
figcaption,
tfoot,
.footnote {
	font-size:11px;
	font-size:1.1rem; /* http://snook.ca/archives/html_and_css/font-size-with-rem */
	line-height:15px;
}

figcaption,
tfoot,
.footnote {
	color:#888;
}
figcaption {
	margin-top:.75em;
	font-style:italic;
}


/* images */

article img {
	margin:3px 0;
	height:auto;
	max-width:100%;
}


/* tables */

table {
	border-collapse:collapse;
	border-spacing:0;
	width:100%;
	margin-bottom:1.3em;
}

caption {
	font-family:'Droid Serif', Georgia, Times, serif;
	font-style:italic;
	text-align:left;
	margin-bottom:.5em;
}

thead {
	background:#f0f2f6;
	border-right:1px solid #f0f2f6;
	border-left:1px solid #f0f2f6;
}

tfoot {
	background:#f7f8fb;
	border-right:1px solid #f0f2f6;
	border-left:1px solid #f0f2f6;
}

tbody {
	border-right:1px solid #f0f2f6;
	border-left:1px solid #f0f2f6;
}

th,
td {
	padding:.25em 9px;
	border-bottom:1px solid #f0f2f6;
}

th {
	text-align:left;
	border-top:1px solid #f0f2f6;
}


/* lists */

#main ul,
#main ol,
#sidebar ul,
#sidebar ol {
	margin:0 0 1em 20px;
}

#sidebar #monthly-list {
	list-style:none;
	margin:0;
	padding:5px 0 10px;
}

#sidebar #monthly-list a {
	display:block;
	float:left;
	min-width:36px;
	margin:0 4px 6px 0;
	text-align:center;
	color:#444;
	text-decoration:none;
	background:#fff;
	border:1px solid #ccc;
    border-radius:5px;
	-webkit-box-shadow:2px 2px 2px rgba(99,102,112,.2);
	box-shadow:2px 2px 2px rgba(99,102,112,.2);
}

#sidebar #monthly-list a:hover {
	color:#000;
	background:#fdf8eb;
}

#monthly-list span {
	display:block;
}

#monthly-list a .archive-year {
	font-size:10px;
	font-size:1rem; /* http://snook.ca/archives/html_and_css/font-size-with-rem */
	font-weight:bold;
	text-shadow:1px 1px #fbd978;
	border-radius:5px 5px 0 0;
	background:#ffda44;
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#ffda44),color-stop(1,#fabc2b));
	background:-moz-linear-gradient(#ffda44,#fabc2b);
	background:-ms-linear-gradient(#ffda44,#fabc2b);
	background:-o-linear-gradient(#ffda44,#fabc2b);
	background:linear-gradient(#ffda44,#fabc2b);
}

#monthly-list a:hover .archive-year {
	background:#fcdd62;
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#fcdd62),color-stop(1,#fec94c));
	background:-moz-linear-gradient(#fcdd62,#fec94c);
	background:-ms-linear-gradient(#fcdd62,#fec94c);
	background:-o-linear-gradient(#fcdd62,#fec94c);
	background:linear-gradient(#fcdd62,#fec94c);
}


/* search page */

#search-page #main article:last-of-type {
	margin-bottom:10px;
}


/* forms */

/* hand cursor on clickable input elements (except disabled ones) */
label,
input[type="button"],
input[type="submit"],
input[type="reset"],
button {
	cursor:pointer;
}

input[disabled] {
	cursor:default;
}

/* make Safari render search inputs as text inputs (and unstyled) */
input[type="search"] {
	-webkit-appearance:textfield;
}

::-webkit-search-decoration{
	display:none;
}

/* webkit browsers add a 2px margin outside the chrome of form elements */
button,
input,
select,
textarea {
	margin:0;
}

/* colour placeholder text (Webkit and Mozilla only, so far) */
::-webkit-input-placeholder {
	color:#bbb;
}

:-moz-placeholder {
	color:#bbb;
}

input[type="text"],
input[type="search"],
textarea {
	font:11px/1.5em Verdana, "Lucida Grande", Tahoma, Helvetica, sans-serif;
	border:solid 1px #d4d4d4;
	background:#fff;
	padding:.5em 5px .55em;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

input[type="search"] {
	width:192px;
	padding:.5em 0 .55em 5px;
	margin-right:2px;
	display:inline-block;
	zoom:1; /* zoom and *display = ie7 hack for display:inline-block */
	*display:inline;
	vertical-align:baseline;
}

textarea {
	width:100%;
	-webkit-resize:vertical;
	-moz-resize:vertical;
	resize:vertical;
}

input[type="text"]:hover,
input[type="text"]:focus,
input[type="search"]:hover,
input[type="search"]:focus,
textarea:hover,
textarea:focus {
	background:#fdf8eb;
}

.large input{
	width:320px;
}

.small input{
	width:160px;
}

.large textarea{
	height:156px;
}

.small textarea{
	height:78px;
}

.checkboxes,
.radiobuttons {
	padding:0 0 7px;
}

.checkboxes span,
.radiobuttons span {
	display:block;
}

.checkboxes input,
.radiobuttons input {
	float:left;
	margin:3px 8px 0 0;
}

.checkboxes label,
.radiobuttons label {
	float:left;
	display:block;
}

.required {
	color:#c00;
}


/* buttons */

/* Make buttons play nice in IE: www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
input,
button,
.button {
	width:auto;
	overflow:visible;
}

/* fix firefox button height discrepancy: http://christophzillgens.com/en/articles/equal-height-input-and-button-elements-in-firefox-and-safari */
input::-moz-focus-inner,
button::-moz-focus-inner{
	border:0;
	padding:0;
}

button,
.button,
input[type="button"],
input[type="submit"] {
	font:11px/1.5em Verdana, "Lucida Grande", Tahoma, Helvetica, sans-serif;
	font-size:1.1rem; /* http://snook.ca/archives/html_and_css/font-size-with-rem */
	font-weight:normal;
	height:2.65em;
	width:auto; /* ie7 padding bug hack */
	overflow:visible; /* ie7 padding bug hack */
	color:#333;
	text-shadow:1px 1px #fbd978;
	display:inline-block;
	zoom:1; /* zoom and *display = ie7 hack for display:inline-block */
	*display:inline;
	vertical-align:baseline;
	margin:0;
	outline:0;
	cursor:pointer;
	text-align:center;
	padding:.5em .8em .5em;
	border:solid 1px #e1a61a;
	border-radius:5px;
	-webkit-box-shadow:0 1px 2px rgba(0,0,0,.2);
	box-shadow:0 1px 2px rgba(0,0,0,.2);
	background:#ffda44;
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#ffda44),color-stop(1,#fabc2b));
	background:-moz-linear-gradient(#ffda44,#fabc2b);
	background:-ms-linear-gradient(#ffda44,#fabc2b);
	background:-o-linear-gradient(#ffda44,#fabc2b);
	background:linear-gradient(#ffda44,#fabc2b);
}


button:hover,
.button:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
	background:#fcdd62;
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#fcdd62),color-stop(1,#fec94c));
	background:-moz-linear-gradient(#fcdd62,#fec94c);
	background:-ms-linear-gradient(#fcdd62,#fec94c);
	background:-o-linear-gradient(#fcdd62,#fec94c);
	background:linear-gradient(#fcdd62,#fec94c);
}

button:active,
.button:active,
input[type="button"]:active,
input[type="submit"]:active {
	color:#000;
	background:#fec94c;
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#fec94c),color-stop(1,#fcdd62));
	background:-moz-linear-gradient(#fec94c,#fcdd62);
	background:-ms-linear-gradient(#fec94c,#fcdd62);
	background:-o-linear-gradient(#fec94c,#fcdd62);
	background:linear-gradient(#fec94c,#fcdd62);
	position:relative;
	top:1px;
}

input[type="submit"].disabled,
#paginator span.disabled {
	color:#fff;
	text-shadow:-1px -1px #ccc;
	cursor:default;
	border:solid 1px #d2d2d2;
	background:#dadada;
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#e6e6e6),color-stop(1,#dadada));
	background:-moz-linear-gradient(#e6e6e6,#dadada);
	background:-ms-linear-gradient(#e6e6e6,#dadada);
	background:-o-linear-gradient(#e6e6e6,#dadada);
	background:linear-gradient(#e6e6e6,#dadada);
	top:0;
}

#paginator {
	margin:1em 0;
}
#paginator .button {
	height:1.5em;
	padding:.1em .66em;
}

#paginator a.button {
	color:#333;
	text-decoration:none;
}

#paginator-l {
	float:left;
}

#paginator-r {
	float:right;
}


/* comments */

.comments {
	background-color:#f7f8fb;
	padding:1em 10px 0;
	margin-bottom:20px;
	border-radius:5px;
}

.comments h4 span {
	font-weight:normal;
}

.comments h4 .comment-anchor {
	float:right;
}

#cpreview {
	background-color:#fdf8eb;
	padding:1em 10px;
	border-radius:5px;
	margin-bottom:2px;
}

.comments_error {
	background:#fff4f4 !important;
}

.error_message li {
	color:#c00;
}


/* vanity */

/* always force scrollbar padding so we don't get 'jumping' */
html {
	overflow-y:scroll;
}

/* get rid of proprietary focus glows and add our own */
a:focus,
input:focus,
textarea:focus,
button:focus {
	outline:0;
	background:#fdf8eb;
	-webkit-box-shadow:0 0 5px rgba(255,192,16,1); 
	box-shadow:0 0 5px rgba(255,192,16,1);
}


}
/* end of standard styling and layout for screen > 959px */




/* layout for screen < 960px */
@media handheld and (max-width:480px),screen and (max-device-width:480px),screen and (max-width:960px) {


html {
	-webkit-text-size-adjust:none;
}

body {
	width:660px;
}

#main {
	float:none;
}

#sidebar {
	float:none;
	margin:0 10px 20px;
}

footer {
	width:638px;
}


}
/* end of layout for screen < 960px */




/* layout for screen < 768px */
@media only screen and (max-width: 767px) {


body {
	width:440px;
}

#main {
	width:420px;
}

footer {
	width:418px;
}

blockquote {
	width:400px;
	margin-bottom:1em;
}

h1,
h2 {
	font-size:30px;
	font-size:3rem; /* http://snook.ca/archives/html_and_css/font-size-with-rem */
	padding-top:0;
}

h3 {
	font-size:18px;
	font-size:1.8rem; /* http://snook.ca/archives/html_and_css/font-size-with-rem */
}

.large input{
	width:280px;
}

.small input{
	width:140px;
}


}
/* end of layout for screen < 768px */




/* layout for screen < 480px */
@media only screen and (max-width: 479px) {


body {
	width:300px;
}

#main {
	width:280px;
}

footer {
	width:278px;
}

blockquote {
	width:260px;
	margin-bottom:1em;
}


}
/* end of layout for screen < 480px */




/* styling for print */
@media print {


*{background:transparent !important;color:black !important;text-shadow:none !important;}

body {
	font:8pt/1.6em Helvetica,Arial,SunSans-Regular,sans-serif;
	padding:2em 6em;
}

nav {
	display:none;
}

a {
	text-decoration:none;
}

a:link:after,
a:visited:after{ 
	content:" ("attr(href)") ";
}

h1 {
	font-size:36pt;
	font-weight:normal;
	line-height:1.3em;
	padding-bottom:2em;
}

h2 {
	font-size:24pt;
	line-height:1.4em;
	padding-bottom:1em;
}

h3 {
	font-size:18pt;
	line-height:1.5em;
	padding-bottom:1em;
}

p {
	padding-bottom:1em;
}
footer {
	font-size:6pt;
	line-height:1.6em;
}

ul {
	list-style:square;
	margin:0 0 1em 1.8em;
}

ol {
	list-style:decimal;
	margin:0 0 1em 1.8em;
}


}
/* end of styling for print */
