/* ==========================================================================
   Styling and layout for all media
   ========================================================================== */


/* correct block display not defined in IE8-9 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/* correct `<summary>` not showing as clickable */
summary {
  cursor: pointer;
}

/* address styling for `hidden` attribute not present in IE8-9 */
[hidden] {
  display: none;
}


/* Clearfix
   ========================================================================== */
/* http://nicolasgallagher.com/micro-clearfix-hack/ */

header:after,
footer:after,
nav ul:after,
.container:after,
.clearfix:after,
.paginator:after {
  content: "";
  display: table;
  clear: both;
  border-collapse: collapse;
}



/* ==========================================================================
   Styling and layout for screen media (mobile first)
   ========================================================================== */


@media screen {


/* Layout
   ========================================================================== */

html {
  -webkit-tap-highlight-color: rgba(0, 102, 255, 0.5);
  /* always force scrollbar padding so we don't get 'jumping' */
  overflow-y: scroll;
  /* prevent iOS text size adjust after orientation change, without disabling user zoom */
  -webkit-text-size-adjust: 100%;
  /* as above, for Windows Phone */
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  background: #f7f7f7;
}

.wrapper {
  border-bottom: solid 1px #cccccc;
  padding: 1px 0;
  background: white;
}

header,
footer,
.container {
  margin: 0 auto;
  /* 960px / 1024px */
  width: 93.75%;
  max-width: 86em;
}

header {
  padding: 1em 0;
}

header h1 {
  margin: 0;
}

header h3 {
  /* 16px margin top */
  margin: 0.66667em 0 0;
}

.site-navigation {
  border-top: solid 1px #bbbbbb;
  border-bottom: solid 1px #bbbbbb;
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.25);
  -moz-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.25);
  background-color: #e4e4e4;
  /* Safari5.1+, Chrome10+ */
  background-image: -webkit-linear-gradient(#e4e4e4, #cccccc);
  /* Firefox3.6 */
  background-image: -moz-linear-gradient(#e4e4e4, #cccccc);
  /* Opera11.10+ */
  background-image: -o-linear-gradient(#e4e4e4, #cccccc);
  /* CSS3 Compliant */
  background-image: linear-gradient(#e4e4e4, #cccccc);
}

.site-navigation ul {
  margin: 0 auto;
  padding: 0;
  max-width: 86em;
  list-style: none;
}

.site-navigation li {
  margin: 0;
  border-bottom: solid 1px #bbbbbb;
}

.site-navigation li:last-child {
  border-bottom: 0;
}

.site-navigation li:hover,
.site-navigation li.active {
  background-color: #f1f1f1;
  /* Safari5.1+, Chrome10+ */
  background-image: -webkit-linear-gradient(#f1f1f1, #d9d9d9);
  /* Firefox3.6 */
  background-image: -moz-linear-gradient(#f1f1f1, #d9d9d9);
  /* Opera11.10+ */
  background-image: -o-linear-gradient(#f1f1f1, #d9d9d9);
  /* CSS3 Compliant */
  background-image: linear-gradient(#f1f1f1, #d9d9d9);
}

.site-navigation li:active {
  color: #1a1a1a;
  -webkit-box-shadow: inset 0 0.2em 0.25em rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 0.2em 0.25em rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0.2em 0.25em rgba(0, 0, 0, 0.15);
  background-color: #bfbfbf;
  /* Safari5.1+, Chrome10+ */
  background-image: -webkit-linear-gradient(#bfbfbf, #d7d7d7);
  /* Firefox3.6 */
  background-image: -moz-linear-gradient(#bfbfbf, #d7d7d7);
  /* Opera11.10+ */
  background-image: -o-linear-gradient(#bfbfbf, #d7d7d7);
  /* CSS3 Compliant */
  background-image: linear-gradient(#bfbfbf, #d7d7d7);
}

.site-navigation li a {
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
  display: block;
  padding: 0.5em 3.125%;
  color: #333333;
  text-decoration: none;
}

[role="article"] {
  margin-bottom: 2em;
}

[role="complementary"] {
  margin: 2em 0;
  border-top: dashed 2px #cccccc;
  padding-top: 1em;
}

[role="search"] p {
  margin-top: 0;
}

footer {
  padding: 0.5em 0;
}

/* address differences between Firefox and other browsers */
hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}


/* Links
   ========================================================================== */

a {
  text-decoration: none;
  color: #114eb1;
}

a:hover,
a:active {
  /* improve readability when focused and also mouse hovered in all browsers */
  outline: 0;
  text-decoration: underline;
  color: #0066ff;
}

a:focus {
  outline: thin dotted #0066ff;
}

a:visited {
  color: #183082;
}

header a {
  color: #333333;
  -moz-border-radius: 0.125em;
  border-radius: 0.125em;
}

header a:hover,
header a:active {
  background: #e8e8e8;
}

h1 a {
  color: #333333;
  -moz-border-radius: 0.125em;
  border-radius: 0.125em;
}

h1 a:visited {
  color: #333333;
}

h1 a:hover,
h1 a:active {
  text-decoration: none;
  color: #333333;
  background: #ededed;
}

.paginator {
  margin-bottom: 2em;
}

.paginator-prev {
  float: left;
}

.paginator-next {
  float: right;
}


/* Typography
   ========================================================================== */

body {
  font-family: "PT Serif", Georgia, serif;
  /* 14px / 16px */
  font-size: 16px;
  line-height: 1.5;
  color: #333333;
}

.site-navigation {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  /* 40px / 16px */
  font-size: 2.5em;
  /* 48px / 40px */
  line-height: 1.2;
  /* 30px margin top/bottom */
  margin: 0.625em 0;
}

h2 {
  /* 32px / 16px */
  font-size: 2em;
  /* 40px / 32px */
  line-height: 1.25;
  /* 24px margin top/bottom */
  margin: 0.75em 0;
}

h3 {
  /* 24px / 16px */
  font-size: 1.5em;
  /* 32px / 24px */
  line-height: 1.33333;
  /* 20px margin top/bottom */
  margin: 0.83333em 0;
}

h4 {
  /* 20px / 16px */
  font-size: 1.25em;
  /* 28px / 20px */
  line-height: 1.4;
  /* 16px margin top/bottom */
  margin: 0.8em 0;
}

/* address style set to `bolder` in Firefox4+, Safari5, and Chrome */
b,
strong {
  font-weight: bold;
}

address {
  margin: 1em 0;
}

blockquote {
  /* 18px / 16px */
  font-size: 1.125em;
  font-style: italic;
  /* 16px / 18px */
  margin: 0.88889em 0 0.88889em 0;
  border-left: 3px solid #cccccc;
  padding: 0 0 0 0.88889em;
}

/* sets consistent quote types */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* address styling not present in Safari5 and Chrome */
dfn {
  font-style: italic;
}

/* address styling not present in IE8-9, Safari5, Chrome */
abbr[title],
dfn[title] {
  border-bottom: dotted 1px;
  cursor: help;
}

mark,
var {
  padding: 0 0.25em;
  /* 4px / 16px */
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  color: #333333;
  background: #e8f0fd;
}

pre,
code,
kbd,
samp {
  font-family: Cousine, Consolas, "Lucida Console", Monaco, monospace;
}

code,
kbd,
samp {
  /* 14px / 16px */
  font-size: 0.875em;
  border: 1px solid #e3e3e3;
  /* 2px / 14px + 3px / 14px */
  padding: 0.07143em 0.21429em;
  /* 4px / 14px */
  -moz-border-radius: 0.28571em;
  border-radius: 0.28571em;
  background: #f7f7f7;
}

pre {
  /* 14px / 16px */
  font-size: 0.875em;
  overflow-x: auto;
  border: 1px solid #e3e3e3;
  padding: 1em;
  /* 8px / 14px */
  -moz-border-radius: 0.57143em;
  border-radius: 0.57143em;
  background: #f7f7f7;
  /* set tab size to 4 spaces */
  tab-size: 4;
}

pre code {
  /* 14px */
  font-size: 1em;
  border: 0;
  padding: 0;
  background: none;
}

/* prevent `<sub>` and `<sup>` affecting line height in all browsers */
sub,
sup {
  /* 13px / 16px */
  font-size: 0.8125em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

small,
figcaption,
tfoot,
.footnote {
  /* 13px / 16px */
  font-size: 0.8125em;
}

figcaption,
tfoot,
.footnote {
  color: #999999;
}

figcaption {
  margin-top: 0.5em;
  font-style: italic;
}


/* Support for non-latin languages (can be removed if not required)
   ========================================================================== */

html[lang="ja-jp"] {
  font-family: "Hiragino Kaku Gothic Pro", Meiryo, sans-serif;
}

html[lang="ko-kr"] {
  font-family: GulimChe, Gulim, sans-serif;
}

html[lang="zh-cn"] {
  font-family: SimHei, sans-serif;
}

html[lang="zh-tw"] {
  font-family: PMingLiU, sans-serif;
}


/* Embedded content
   ========================================================================== */

/* correct `inline-block` display not defined in IE8-9 */
audio,
canvas,
video {
  display: inline-block;
}

/* make embedded elements responsive */
img,
embed,
object,
video {
  max-width: 100%;
  height: auto;
}

img {
  /* remove border when inside `<a>` element in IE8-9 */
  border: 0;
}

img.align-left {
  float: left;
  margin: 1em 1em 1em 0;
}

img.align-right {
  float: right;
  margin: 1em 0 1em 1em;
}

img.align-center {
  display: block;
  margin: 1em auto;
}

/* address margin not present in IE8-9 and Safari5 */
figure {
  margin: 0;
}

/* prevent modern browsers from displaying `<audio>` without controls, remove excess height in iOS5 devices */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* correct overflow displayed oddly in IE9 */
svg:not(:root) {
  overflow: hidden;
}


/* Tables
   ========================================================================== */

/* consistent tables */
table {
  margin-bottom: 1em;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

caption {
  font-style: italic;
  text-align: left;
  margin-bottom: 0.5em;
}

th,
td {
  /* make table cells align top and left by default */
  vertical-align: top;
  text-align: left;
  border-bottom: solid 1px #cccccc;
  padding: 0.25em 0.5em 0.25em 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

thead th,
thead td {
  border-bottom: solid 2px #cccccc;
}

tfoot th,
tfoot td {
  border-bottom: 0;
  padding: 0.325em 0.61538em 0.325em 0;
}

tfoot:last-child {
  padding-right: 0;
}


/* Lists
   ========================================================================== */

/* address paddings set differently */
menu,
ol,
ul {
  padding: 0 0 0 2em;
}

/* remove margins from nested lists */
dl dl,
ul ul,
ol ol {
  margin: 0;
}

dd {
  margin: 0 0 0 2em;
}

dt {
  font-style: italic;
}

.article-list {
  list-style: none;
  margin: 0 0 2em 0;
  padding: 0;
  border-top: solid 1px #cccccc;
}

.article-list li {
  border-bottom: solid 1px #cccccc;
  margin-bottom: 0;
}


/* Forms
   ========================================================================== */

/* zero out fieldsets */
fieldset {
  margin: 0;
  border: 0;
  padding: 0;
}

/* zero out legends */
legend {
  border: 0;
  padding: 0;
}

button,
input,
select,
textarea {
  /* address margins set differently in Firefox4+, Safari5+, and Chrome */
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  /* correct font size not being inherited in all browsers */
  font-size: 100%;
  font-size: 0.875em;
  line-height: 1.4;
  vertical-align: baseline;
}

/* colour placeholder text (WebKit and Mozilla only, so far) */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999999;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #999999;
}

/* remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* remove inner padding and search cancel button in Safari5+ and Chrome on OS X */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
  /* remove iOS Safari default styling */
  -webkit-appearance: none;
  text-align: left;
  border: solid 1px #cccccc;
  padding: 0.5em;
  background: #fff;
  outline: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
select:focus,
textarea:focus {
  /* better form focus glows */
  outline: 0;
  -webkit-box-shadow: 0 0 7px #0066ff;
  -moz-box-shadow: 0 0 7px #0066ff;
  box-shadow: 0 0 7px #0066ff;
  /* Opera fix */
  z-index: 1;
}

input[type="color"] {
  padding: 0;
  /* 35px / 14px */
  height: 2.5em;
}

/* address box sizing set to `content-box` and excess padding in IE8-9 */
input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  box-sizing: border-box;
}

[role="complementary"] input[type="search"] {
  margin-right: 2px;
  width: 66%;
  display: inline-block;
}

/* address inconsistent `text-transform` inheritance for `select` in Firefox 4+ and Opera */
select {
  text-transform: none;
}

select[size],
select[multiple] {
  height: auto;
}

select[size="0"],
select[size="1"] {
  /* 35px / 14px */
  height: 2.5em;
}

optgroup {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #333333;
}

/* kill phantom spacing and dotted border that appears in Firefox */
optgroup::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  height: auto;
  min-height: 3em;
  /* remove default vertical scrollbar in IE8-9 */
  overflow: auto;
  resize: vertical;
  width: 100%;
}

/* make sure disable elements really are disabled */
button[disabled],
html input[disabled],
input[type="button"][disabled],
input[type="reset"][disabled],
input[type="submit"][disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled],
span.disabled {
  opacity: 1;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-color: #e3e3e3 !important;
  text-shadow: none !important;
  color: #999999 !important;
  background: #eeeeee !important;
  cursor: default !important;
  top: 0 !important;
}

.large input {
  width: 50%;
  min-width: 302px;
}

.large textarea {
  height: 156px;
}

.small input {
  width: 25%;
  min-width: 151px;
}

.small textarea {
  height: 5.5em;
}


/* Buttons
   ========================================================================== */

/* address inconsistent `text-transform` inheritance for `button` in Chrome, Safari5+, and IE6+ */
button {
  text-transform: none;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  /* remove iOS Safari default styling */
  -webkit-appearance: none;
  width: auto;
  overflow: visible;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
  cursor: pointer;
  border: solid 1px #bbbbbb;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  display: inline-block;
  color: #333333;
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.25);
  -moz-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.25);
  -webkit-background-clip: padding;
  -khtml-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #e4e4e4;
  /* Safari5.1+, Chrome10+ */
  background-image: -webkit-linear-gradient(#e4e4e4, #cccccc);
  /* Firefox3.6 */
  background-image: -moz-linear-gradient(#e4e4e4, #cccccc);
  /* Opera11.10+ */
  background-image: -o-linear-gradient(#e4e4e4, #cccccc);
  /* CSS3 Compliant */
  background-image: linear-gradient(#e4e4e4, #cccccc);
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  background-color: #f1f1f1;
  /* Safari5.1+, Chrome10+ */
  background-image: -webkit-linear-gradient(#f1f1f1, #d9d9d9);
  /* Firefox3.6 */
  background-image: -moz-linear-gradient(#f1f1f1, #d9d9d9);
  /* Opera11.10+ */
  background-image: -o-linear-gradient(#f1f1f1, #d9d9d9);
  /* CSS3 Compliant */
  background-image: linear-gradient(#f1f1f1, #d9d9d9);
}

button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  color: #1a1a1a;
  -webkit-box-shadow: inset 0 0.2em 0.25em rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 0.2em 0.25em rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0.2em 0.25em rgba(0, 0, 0, 0.15);
  background-color: #bfbfbf;
  /* Safari5.1+, Chrome10+ */
  background-image: -webkit-linear-gradient(#bfbfbf, #d7d7d7);
  /* Firefox3.6 */
  background-image: -moz-linear-gradient(#bfbfbf, #d7d7d7);
  /* Opera11.10+ */
  background-image: -o-linear-gradient(#bfbfbf, #d7d7d7);
  /* CSS3 Compliant */
  background-image: linear-gradient(#bfbfbf, #d7d7d7);
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
  /* better button focus glows */
  outline: 0;
  -webkit-box-shadow: 0px 0px 7px #0066ff;
  -moz-box-shadow: 0px 0px 7px #0066ff;
  box-shadow: 0px 0px 7px #0066ff;
  z-index: 1;
}


/* Comments
   ========================================================================== */

.comments {
  margin-bottom: 1em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  padding: 1px 1em;
  background: #f7f7f7;
  word-wrap: break-word;
}

.comments h4 .is-author {
  font-weight: normal;
}

.comments h4 .comment-anchor {
  float: right;
  font-weight: normal;
}

.comments-author {
  background: #efefef;
}

#cpreview {
  margin-bottom: 2px;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  padding: 1em;
  background: #fff3d6;
}

.comments_error {
  background: #f2dede !important;
}

.required,
.error_message li {
  color: #9d261d;
}

.required {
  cursor: help;
}


/* Popup comments (can be removed if you don't use popups)
   ========================================================================== */

#popup-page .container {
  max-width: 52em;
}


} /* end of @media screen */



/* ==========================================================================
   addresses `<select>` alignment in Safari/Chrome
   ========================================================================== */


@media screen and (-webkit-min-device-pixel-ratio: 0) {


select[size],
select[multiple],
select[multiple][size] {
  background-image: none;
  padding-right: 0.5em;
}

select,
select[size="0"],
select[size="1"] {
  background: white url("data:image/svg+xml,<svg version='1.1' baseProfile='full' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='21px' height='7px' viewBox='0 0 21 7' enable-background='new 0 0 21 7' xml:space='preserve'><polygon fill='#333333' points='2,0 7,7 12,0'/></svg>") no-repeat right center;
  padding-right: 2.25em;
  -webkit-background-size: 1.5em 0.5em;
  background-size: 1.5em 0.5em;
}


} /* end of @media screen and (-webkit-min-device-pixel-ratio: 0) */



/* ==========================================================================
   Additional layout for screen media 576px and up
   ========================================================================== */


@media only screen and (min-width: 36em) {


.site-navigation ul {
  width: 93.75%;
}

.site-navigation li {
  float: left;
  border-right: solid 1px #bbbbbb;
  border-bottom: 0;
}

.site-navigation li:first-child {
  border-left: solid 1px #bbbbbb;
}

.site-navigation li a {
  padding: 0.5em 1em;
}


} /* end of @media screen and (min-width: 36em) */



/* ==========================================================================
   Additional layout for screen media 864px and up
   ========================================================================== */


@media only screen and (min-width: 54em) {


main {
  float: left;
  width: 62.5%;
}

[role="complementary"] {
  float: right;
  border: solid 1px #e3e3e3;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  padding: 0 1em;
  width: 30%;
  background: #f7f7f7;
}


} /* end of @media screen and (min-width: 54em) */



/* ==========================================================================
   Additional layout for screen media 1280px and up
   ========================================================================== */


@media only screen and (min-width: 82em) {


header,
footer,
.container,
.site-navigation ul {
  /* 1200px / 1280px */
  width: 93.75%;
}


} /* end of @media screen and (min-width: 82em) */



/* ==========================================================================
   Fix for reponsive embedded content in IE8
   ========================================================================== */


@media \0screen {


img,
video {
  width: auto;
}


} /* end of @media \0screen */



/* ==========================================================================
   Styling and layout for print media
   ========================================================================== */


@media print {


* {
  /* black prints faster - http://sanbeiji.com/archives/953 */
  color: black !important;
  text-shadow: none !important;
  background: transparent !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 8pt;
  line-height: 1.5;
  margin: 0.5cm;
  padding: 2em 5em;
}

header {
  border-bottom: solid 1pt black;
}

footer {
  margin-top: 12pt;
  border-top: solid 1pt black;
}

/* hide unnecessary content from print */
nav,
audio,
video,
form,
[role="complementary"],
#comments-form,
.comments h4 a:last-child,
.paginator {
  display: none;
}

a {
  text-decoration: none;
}

/* show URLs for certain links in print */
a[href]:after {
  content: " (" attr(href) ")";
}

h1 a[href]:after,
h2 a[href]:after,
h3 a[href]:after,
sup a[href]:after,
a[itemprop="discussionUrl"]:after,
a[rel="tag"]:after {
  content: "";
}

/* show long-form for abbreviations in print */
abbr[title]:after {
  content: " (" attr(title) ")";
}

h1 {
  font-size: 32pt;
  line-height: 36pt;
  font-weight: normal;
  margin: 0.5em 0;
}

h2 {
  font-size: 18pt;
  line-height: 23pt;
  page-break-after: avoid;
  orphans: 3;
  widows: 3;
  margin: 0.66667em 0;
}

h3 {
  font-size: 12pt;
  line-height: 17pt;
  page-break-after: avoid;
  orphans: 3;
  widows: 3;
  margin: 0.75em 0;
}

h4 {
  font-size: 10pt;
  line-height: 14pt;
  page-break-after: avoid;
  orphans: 3;
  widows: 3;
  margin: 0.875em 0;
}

p {
  orphans: 3;
  widows: 3;
}

footer,
figcaption,
tfoot,
small,
.footnote {
  font-size: 6pt;
}

blockquote {
  font-size: 16pt;
  border-left: 3pt solid black;
  padding: 0 0 0 8pt;
  page-break-inside: avoid;
}

pre {
  margin-bottom: 8pt;
  border: solid 1pt black;
  padding: 8pt;
}

.comments {
  page-break-inside: avoid;
}

pre,
code,
kbd,
samp,
var {
  font-family: "Courier New", Courier, monospace;
}

dfn,
q,
dt {
  font-style: italic;
}

img {
  max-width: 100% !important;
  page-break-inside: avoid;
}

img.align-left {
  float: left;
  margin: 1em 1em 1em 0;
}

img.align-right {
  float: right;
  margin: 1em 0 1em 1em;
}

img.align-center {
  display: block;
  margin: 1em auto;
}

figure {
  margin-bottom: 8pt;
}

figcaption {
  margin-top: 4pt;
}

ul {
  list-style: square;
  margin: 0 0 8pt 1.8em;
}

ol {
  list-style: decimal;
  margin: 0 0 8pt 1.8em;
}

dl {
  margin: 0 0 8pt 1.8em;
}

table {
  margin-bottom: 8pt;
  width: 100%;
}

caption {
  font-weight: bold;
  text-align: left;
  margin-bottom: 4pt;
}

/* display table head across multi-page tables */
thead {
  display: table-header-group;
}

thead th {
  border-top: solid 1pt black;
}

tr {
  page-break-inside: avoid;
}

th,
td {
  border-bottom: solid 1pt black;
  padding: 4pt 8pt;
}


} /* end of @media print */
