// note: this file is for use with Sass - http://sass-lang.com, don't use it as your live site stylesheet!

// import Sass partials
@import "variables", "mixins";




/* =============================================================================
   Styling and layout for all media
   ========================================================================== */




@media all {


/* =============================================================================
   Abridged version of Normalize.css
   ========================================================================== */
/* original authors: Nicolas Gallagher and Jonathan Neal - http://necolas.github.com/normalize.css/ */

/* corrects block display not defined in IE6-9, Firefox3 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}

/* corrects inline-block display not defined in IE6-9, Firefox3 */
audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

/* prevents modern browsers from displaying 'audio' without controls */
audio:not([controls]) {
    display: none;
}

/* addresses styling for 'hidden' attribute not present in IE7-9, Firefox3, Safari4 */
[hidden] {
    display: none;
}

html {
    font-size: 100%;
    /* always force scrollbar padding so we don't get 'jumping' */
    overflow-y: scroll;
    /* prevents iOS text size adjust after orientation change, without disabling user zoom -
        http://www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
    -webkit-text-size-adjust: 100%;
    /* as above, for Windows Phone */
        -ms-text-size-adjust: 100%;
}

/* addresses style set to 'bolder' in Firefox3-4, Safari4-5, Chrome */
b,
strong { 
    font-weight: bold; 
}

/* addresses CSS quotes not supported in IE6-7, addresses quote property not supported in Safari4 */
q {
    quotes: none;
    &:before, &:after {
        content: "";
        content: none;
    }
}

/* prevents sub and sup affecting line-height in all browsers */
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}

/* make table cells align top by default */
th,
td {
    vertical-align: top;
}

/* reset default padding on lists */
ul,
ol,
dd {
    padding: 0;
}

/* corrects inner padding and border displayed oddly in Firefox3-4 - www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
::-moz-focus-inner {
    border: 0;
    padding: 0;
}


/* =============================================================================
   Clearfix
   ========================================================================== */
/* updated to prevent margin-collapsing on child elements in most situations - http://nicolasgallagher.com/micro-clearfix-hack/ */

.clearfix {
    &:before, &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
    *zoom: 1;
}


}




/* =============================================================================
   Styling and layout for screen media > 959px
   ========================================================================== */




@media screen {


/* =============================================================================
   Layout
   ========================================================================== */

body {
    width: 960px;
    margin: 0 auto 20px;
    background: $color-background;
}

header {
    border-left: solid 1px $color-border;
    border-right: solid 1px $color-border;
    padding: 10px 10px 0;
    background: $color-background-box;
}

nav {
    border: solid 1px $color-gradient-border;
    border-radius: 0 0 $border-radius $border-radius;
    @include gradient;
    @extend .clearfix;

    h1 {
        display: none;
    }

    ul {
        list-style: none;
        list-style-image: none;
        margin: 0;
    }

    li {
        float: left;
        margin: 0;
        border-right: solid 1px $color-gradient-border;
    }

    a {
        text-decoration: none;
        @include text-shadow-light;
        display: block;
        padding: 10px;
        color: $color-text;

        &:hover, &:active {
            text-decoration: none;
            @include gradient(lighten($color-gradient-from, 10%), lighten($color-gradient-to, 10%));
        }
    }
}

[role="main"] {
    float: left;
    width: 640px;
    margin: 20px 10px 0;
}

[role="complementary"] {
    float: left;
    margin: 20px 10px;
    border: solid 1px $color-border;
    border-radius: $border-radius;
    padding: 10px 10px 0;
    width: 258px;
    background: $color-background-box;
}

footer {
    clear: both;
    border: solid 1px $color-border;
    border-radius: $border-radius;
    padding: 10px;
    /* declare width to fix for IE7 double padding bug */
    width: 938px;
    background: $color-background-box;
}

#search-page [role="main"] article:last-of-type {
    margin-bottom: 1em;
}


/* =============================================================================
   Links
   ========================================================================== */

a {
    -webkit-tap-highlight-color: rgba($color-link-hover,.5);
    text-decoration: none;
    color: $color-link;

    &:hover, &:active { /* improves readability when focused and also mouse hovered in all browsers - people.opera.com/patrickl/experiments/keyboard/test */
        outline: 0;
    }

    header & {
        color: $color-text;
    }
}

[role="main"] a,
[role="complementary"] a,
footer a {

    &:hover, &:active {
        text-decoration: underline;
        color: $color-link-hover;
    }

    &:visited {
        color: $color-link-visited;
    }
}

[role="main"] h1 a {
    color: $color-text;

    &:visited {
        color: $color-text;
    }

    &:hover, &:active {
        text-decoration: none;
        color: $color-text;
        background: $color-background-box;
    }
}


/* =============================================================================
   Typography
   ========================================================================== */

body {
    /* 13px / 16px */
    font-size: .8125em;
    /* 19px / 13px */
    line-height: 1.46153846153846em;
    font-family: $font-body;
    color: $color-text;
}

h1 {
    /* 39px / 13px */
    font-size: 3em;
    /* 44px / 39px */
    line-height: 1.12820512820513em;
    font-family: $font-heading;
    letter-spacing: -1px;
    margin: 0;
    /* 10px / 39px */
    padding-top: .256410256410256em;
    /* 20px / 39px */
    padding-bottom: .512820512820513em;
}

h2,
h3 {
    /* 24px / 13px */
    font-size: 1.84615384615385em;
    /* 32px / 24px */
    line-height: 1.33333333333333em;
    font-family: $font-secondary;
    font-weight: normal;
    font-style: italic;
    margin: 0;
    /* 13px / 26px */
    padding-bottom:.5em;
}

h4 {
    /* 13px / 13px */
    font-size: 1em;
    margin: 0;
}

p {
    margin: 0;
    /* 13px / 13px */
    padding-bottom: 1em;
}

blockquote {
    font-family: $font-secondary;
    font-style: italic;
    float: right;
    margin: 0 0 .5em 1em;
    border-radius: $border-radius;
    padding: 1em 10px 0;
    width: 260px;
    background: $color-background-box;
}

dfn,
q {
    font-family: $font-secondary;
    font-style: italic;
    background: $color-highlight-box;
}

/* addresses styling not present in IE7-9, Safari5, Chrome */
abbr[title],
acronym[title], /* note: acroymn to be phased out in Textile as it's obsolete in HTML5 */
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

pre,
code,
kbd,
samp,
var {
    font-family: $font-mono;
    background: $color-highlight-box;
    border-radius: $border-radius;
}

code,
kbd,
samp,
var {
    padding: 1px 3px;
}

pre {
    margin: 0 0 1.3em;
    padding: 1em 10px;
    overflow-x: auto;
}

mark {
    background: $color-highlight-box;
    color: $color-text;
    font-style: italic;
    font-weight: bold;
}

small,
figcaption,
tfoot,
.footnote {
    /* 11px / 13px */
    font-size: .84615384615385em;
    /* 15px / 11px */
    line-height: 1.36363636363636em;
}

figcaption,
tfoot,
.footnote {
    color: $color-text-footnote;
}

figcaption {
    font-style: italic;
}


/* =============================================================================
   Embedded content
   ========================================================================== */

/* removes border when inside 'a' element in IE7-9, Firefox3,
    improves image quality when scaled in IE7 - code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}

/* corrects overflow displayed oddly in IE9 */
svg:not(:root) {
    overflow: hidden;
}

article {
    img, embed, object, video {
        max-width: 100%;
        margin: 3px 0;
    }
}

figure {
    margin: 0 0 1.3em;
}


/* =============================================================================
   Tables
   ========================================================================== */

table {
    margin-bottom: 1.3em;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

caption {
    font-family: $font-secondary;
    font-style: italic;
    text-align: left;
    margin-bottom: .5em;
}

thead,
tfoot,
tbody {
    border-right: 1px solid $color-background-box;
    border-left: 1px solid $color-background-box;
}

thead {
    background: $color-background-box;
}

tfoot {
    background: lighten($color-background-box, 2%);
}

th,
td {
    border-bottom: 1px solid $color-background-box;
    padding: .25em 9px;
}

th {
    text-align:left;
    border-top: 1px solid $color-background-box;
}


/* =============================================================================
   Lists
   ========================================================================== */

[role="main"],
[role="complementary"] {
    ul, ol, dl {
        margin: 0 0 1em 20px;
    }
}

dt {
    font-family: $font-secondary;
    font-style: italic;
}

[role="complementary"] #monthly-list {
    list-style: none;
    margin: 0;
    padding: 5px 0 10px;
    @extend .clearfix;

    li {
        text-align: center;
        float: left;
        display: block;
        margin: 0 4px 6px 0;
        min-width: 36px;
        border: 1px solid $color-border;
        border-radius: $border-radius;
        @include box-shadow;
        background: #fff;

        &:active {
            position: relative;
            top: 1px;
        }
    }

    a {
        display: block;
        text-decoration: none;
        color: $color-text;

        &:hover, &:focus {
            color: darken($color-text, 10%);
        }

        .archive-year {
            /* 10px / 13px */
            font-size: .76923076923077em;
            /* 15px / 10px */
            line-height: 1.5em;
            font-weight: bold;
            @include text-shadow-light;
            border-radius: $border-radius $border-radius 0 0;
            @include gradient;
        }

        &:hover .archive-year, &:focus .archive-year{
            @include gradient(lighten($color-gradient-from, 10%), lighten($color-gradient-to, 10%));
        }

        .archive-month {
            border-radius: 0 0 $border-radius $border-radius;
        }

        &:hover .archive-month, &:focus .archive-month{
            background: $color-highlight-box;
        }
    }

    span {
        display: block;
    }
}

[role="main"] #article-list {
    list-style: none;
    margin: 0 0 2em 0;
    border-top: 1px solid $color-background-box;
}

#article-list li {
    border-bottom: 1px solid $color-background-box;
    padding-top: 1em;
}


/* =============================================================================
   Forms
   ========================================================================== */

/* corrects margin displayed oddly in IE6-7 */
form {
    margin: 0;
}

/* remove default fieldset styling across browsers */
fieldset {
    margin: 0;
    border: 0;
    padding: 0;
}

/* hand cursor on clickable input elements (except disabled ones) */
label,
input[type="button"],
input[type="submit"],
input[type="reset"],
button {
    cursor: pointer;
}
button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled] {
    @include box-shadow(none);
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    cursor: default;
}

/* make Safari render search inputs as text inputs (and unstyled) */
input[type="search"] {
    -webkit-appearance: textfield;
}
::-webkit-search-decoration {
    display: none;
}

/* improves appearance and consistency in all browsers */
button,
.button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    /* improves appearance and consistency in IE7 */
    *vertical-align: middle;
}

/* colour placeholder text (Webkit and Mozilla only, so far) */
::-webkit-input-placeholder {
    color: #bbb;
}
:-moz-placeholder {
    color: #bbb;
}

/* suppress red glow that Firefox adds to form fields by default, even when user is still typing */
:invalid {
    @include box-shadow(none);
}

input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea {
    /* 11px / 13px */
    font-size: .84615384615385em;
    /* 15px / 11px */
    line-height: 1.36363636363636em;
    font-family: $font-body;
    border: solid 1px $color-border;
    padding: .5em 5px .55em;
    background: #fff;
    @include box-sizing;
}

input[type="search"] {
    width: 192px;
    margin-right: 2px;
    padding: .5em 0 .55em 5px;
    display: inline-block;
    /* display and zoom IE7 fix for display:inline-block */
    *display: inline;
    *zoom: 1;
}

textarea {
    width: 100%;
    /* removes default vertical scrollbar in IE7-9 */
    overflow: auto;
    /* improves readability and alignment in all browsers */
    vertical-align: top;
    resize: vertical;
}

.large {
    input {
        width: 320px;
    }

    textarea{
        height: 156px;
    }
}

.small {
    input {
        width: 160px;
    }

    textarea {
        height: 78px;
    }
}

/* addresses box sizing set to content-box and excess padding in IE8-9 */
input[type="checkbox"],
input[type="radio"] {
    @include box-sizing;
    padding: 0;
}

.checkboxes,
.radiobuttons {
    padding: 0 0 7px;

    span {
        display: block;
        @extend .clearfix;
    }

    input {
        float: left;
        margin: 3px 8px 0 0;
    }

    label {
        float: left;
        display: block;
    }
}


/* =============================================================================
   Buttons
   ========================================================================== */

/* make buttons play nice in IE: http://www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
input,
button,
.button {
    width: auto;
    overflow: visible;
}

/* fix black border bug on styled buttons in IE7 by remove borders entirely */
.ie7 button,
.ie7 .button,
.ie7 input[type="button"],
.ie7 input[type="reset"],
.ie7 input[type="submit"],
.ie7 #paginator span.disabled {
    border: 0;
}

button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    /* 11px / 13px */
    font-size: .84615384615385em;
    /* 15px / 11px */
    line-height: 1.36363636363636em;
    font-family: $font-body;
    font-weight: normal;
    text-align: center;
    @include text-shadow-light;
    cursor: pointer;
    border: solid 1px $color-gradient-border;
    border-radius: $border-radius;
    padding: .5em .8em .5em;
    /* 28px */
    height: 2.545454545454545em;
    display: inline-block;
    /* display and zoom IE7 fix for display:inline-block */
    *display: inline;
    *zoom: 1;
    color: $color-text;
    @include gradient;
    @include box-shadow;

    &:hover {
        @include gradient(lighten($color-gradient-from, 10%), lighten($color-gradient-to, 10%));
    }

    &:active {
        position: relative;
        top: 1px;
        color: darken($color-text, 10%);
        @include gradient($color-gradient-to, $color-gradient-from);
    }
}

input[type="submit"].disabled,
#paginator span.disabled {
    text-shadow: none;
    top: 0;
    cursor: default;
    border: solid 1px #d2d2d2;
    color: $color-text-footnote;
    @include gradient(#e6e6e6, #dadada);
}

#paginator {
    margin: 1em 0;
    @extend .clearfix;

    .button {
        padding: .1em .66em;
        height: 1.5em;
    }

    a.button {
        text-decoration: none;
        color: $color-text;
    }
}

#paginator-l {
    float: left;
}

#paginator-r {
    float: right;
}


/* =============================================================================
   Comments
   ========================================================================== */

.comments {
    margin-bottom: 20px;
    border-radius: $border-radius;
    padding: 1em 10px 0;
    background: lighten($color-background-box, 2%);

    h4 {
        span {
            font-weight: normal;
        }

        .comment-anchor {
            float: right;
        }
    }
}

.comments-author {
    background: $color-background-box;
}

#cpreview {
    margin-bottom: 2px;
    border-radius: $border-radius;
    padding: 1em 10px;
    background: $color-background-box;
}

.comments_error {
    background: #fff4f4 !important;
}

.required,
.error_message li {
    color: #c00;
}


/* =============================================================================
   Accessibility
   ========================================================================== */

a:focus {
    outline: thin dotted $color-link-hover;
}

.button:focus,
.button:active,
button:focus,
button:active,
input:focus,
input:active,
select:focus,
select:active,
textarea:focus,
textarea:active,
[role="complementary"] #monthly-list a:focus,
[role="complementary"] #monthly-list a:active {
    outline: 0;
    @include box-shadow(0 0 7px $color-link-hover);
    /* Opera */
    z-index: 1;
}


}




/* =============================================================================
   Additional layout for screen media < 960px
   ========================================================================== */




@media handheld and (max-width:480px),screen and (max-device-width:480px),screen and (max-width:960px) {


body {
    width: 660px;
}

[role="main"] {
    float: none;
}

[role="complementary"] {
    float: none;
    margin: 0 10px 20px;
}

footer {
    width: 638px;
}


}




/* =============================================================================
   Additional layout for screen media < 768px
   ========================================================================== */




@media only screen and (max-width: 767px) {


body {
    width: 440px;
}

[role="main"] {
    width: 420px;
}

footer {
    width: 418px;
}

blockquote {
    margin-bottom: 1em;
    width: 400px;
}

h1 {
    /* 30px / 13px */
    font-size: 2.30769230769231em;
    /* 34px / 30px */
    line-height: 1.13333333333333em;
    padding-top: 0;
}

h2,
h3 {
    /* 18px / 13px */
    font-size: 1.38461538461538em;
    /* 24px / 18px */
    line-height: 1.33333333333333em;
}

.large input{
    width: 280px;
}

.small input{
    width: 140px;
}


}




/* =============================================================================
   Additional layout for screen media < 480px
   ========================================================================== */




@media only screen and (max-width: 479px) {


body {
    width: 300px;
}

[role="main"] {
    width: 280px;
}

footer {
    width: 278px;
}

blockquote {
    margin-bottom: 1em;
    width: 260px;
}


}




/* =============================================================================
   Styling and layout for print media
   ========================================================================== */




@media print {


*{
    /* black prints faster: http://sanbeiji.com/archives/953 */
    color: black !important;
    text-shadow: none !important;
    background: transparent !important;
    @include box-shadow(none !important);
    filter:none !important;
}

@page {
    margin: 0.5cm;
}

body {
    font-size: 8pt;
    line-height: 12pt;
    font-family: $font-print;
    margin: 0;
    padding: 2em 6em;
}

header {
    margin-bottom: 24pt;
    border-bottom: 1pt solid black;
}

footer {
    margin-top: 12pt;
    border-top: 1pt solid black;
    padding-top: 12pt;
}

/* hide unnecessary content from print */
nav,
[role="complementary"],
#paginator,
#comments-form,
.comments h4 a:last-child {
    display: none;
}

a {
    text-decoration: none;
}

/* show URLs for certain links in print */
a[href]:after {
    content: " (" attr(href) ")";
}

h1 a[href],
h2 a[href],
h3 a[href],
sup a[href],
.comment-count[href],
a[rel="tag"] {
    &:after {
        content: "";
    }
}

/* show long-form for abbreviations in print
   acronym to be phased out of textile in favour of abbr */
abbr[title],
acronym[title] {
    &:after {
        content: " (" attr(title) ")";
    }
}

h1 {
    font-size: 32pt;
    line-height: 36pt;
    font-weight: normal;
    padding-bottom: 16pt;
}

h2,
h3 {
    font-size: 14pt;
    line-height: 18pt;
    padding-bottom: 8pt;
    page-break-after: avoid;
    orphans: 3;
    widows: 3;
}

p {
    padding-bottom: 8pt;
    orphans: 3;
    widows: 3;
}

footer,
figcaption,
tfoot,
small,
.footnote {
    font-size: 6pt;
    line-height: 9pt;
}

blockquote {
    margin-bottom: 8pt;
    border: 1pt solid black;
    padding: 8pt 8pt 0;
    page-break-inside: avoid;
}

pre {
    margin-bottom: 8pt;
    border: 1pt solid black;
    padding: 8pt;
}

.comments {
    page-break-inside: avoid;
}

pre,
code,
kbd,
samp,
var {
    font-family: "Courier New", Courier, monospace;
}

dfn,
q,
dt {
    font-style: italic;
}

img {
    max-width: 100% !important;
    page-break-inside: avoid;
}

figure {
    margin-bottom: 8pt;
}

figcaption {
    margin-top: 4pt;
}

ul {
    list-style: square;
    margin: 0 0 8pt 1.8em;
}

ol {
    list-style:decimal;
    margin: 0 0 8pt 1.8em;
}

dl {
    margin: 0 0 8pt 1.8em;
}

table {
    margin-bottom: 8pt;
    width: 100%;
}

caption {
    font-weight: bold;
    text-align: left;
    margin-bottom: 4pt;
}

thead,
tfoot,
tbody {
    border-right: 1pt solid black;
    border-left: 1pt solid black;
}

/* display table head across multi-page tables: http://css-discuss.incutio.com/wiki/Printing_Tables */
thead {
    display: table-header-group;
}

tr {
    page-break-inside: avoid;
}

th,
td {
    border-bottom: 1pt solid black;
    padding: 4pt 8pt;
}

th {
    text-align: left;
    border-top: 1pt solid black;

}


}
