/* ==========================================================================
   Desktop version layout for IE8 due to lack of media queries support
   ========================================================================== */

header,
footer,
.container,
.site-navigation ul {
  width: 93.75%;
}

.site-navigation {
  border-top: 1px solid #cccccc;
}

.site-navigation li {
  float: left;
  border-top: 0;
  border-right: 1px solid #cccccc;
}

.site-navigation li:first-child {
  border-left: 1px solid #cccccc;
}

.site-navigation a {
  padding: 0.5em 1em;
}

main {
  float: left;
  width: 62.5%;
}

[role="complementary"] {
  float: right;
  border: 1px solid #e3e3e3;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  padding: 0 1em;
  width: 30%;
  background: #f7f7f7;
}


/* Fix for reponsive embedded content in IE8
   ========================================================================== */

img,
video {
  width: auto;
}
