//
// note: this file is for use with Sass - http://sass-lang.com,
// don't use it as your live site stylesheet!
//


/* Embedded content
   ========================================================================== */

/* image alignemnts */
img {
	&.align-left {
		float: left;
		margin: 1em 1em 1em 0;
	}

	&.align-right {
		float: right;
		margin: 1em 0 1em 1em;
	}

	&.align-center {
		display: block;
		margin: 1em auto;
	}
}

/* corrects overflow displayed oddly in IE9 */
svg:not(:root) {
	overflow: hidden;
}

article img,
article video {
	max-width: 100%;
	height: auto;
}

figure {
	margin: 0;
}
