//
// note: this file is for use with Sass - http://sass-lang.com,
// don't use it as your live site stylesheet!
//


/* Forms
   ========================================================================== */

/* define consistent fieldset margin, border and padding */
fieldset {
	margin: 1em 0;
	border: 1px solid $color-border;
	padding: 1px 1em;
}

/* remove padding so people aren't caught out if they zero out fieldsets */
legend {
    border: 0;
    padding: 0;
}

/* corrects font family not being inherited in all browsers, corrects font size not being inherited in all browsers,
   addresses margins set differently in Firefox 4+, Safari 5+, and Chrome */
button,
input,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	margin: 0;
}

/* addresses Firefox 4+ setting `line-height` on `<input>` using `!important` in the UA stylesheet */
button,
input {
    line-height: normal;
}

/* colour placeholder text (WebKit and Mozilla only, so far) */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: $color-text-footnote;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
	color: $color-text-footnote;
}

/* removes inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* removes inner padding and search cancel button in Safari5+ and Chrome on OS X */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
	/* remove iOS Safari default styling */
	-webkit-appearance: none;
	font-family: $font-sans-serif;
	/* 14px / 16px */
	font-size: .875em;
	text-align: left;
	border: solid 1px $color-border;
	padding: .5em;
	background: #fff;
	outline: 0;
	@include border-radius(0);
	@include box-sizing;

	&:focus {
		/* better form focus glows */
		outline: 0;
		@include box-shadow(0 0 7px $color-link-hover);
		/* Opera fix */
		z-index: 1;
	}
}

input[type="color"] {
	padding: 0;
	/* 32px / 14px */
	height: 2.28571428571429em;
}

[role="complementary"] input[type="search"] {
	margin-right: 2px;
	width: 66%;
	display: inline-block;
}

textarea {
	min-height: 3em;
	/* removes default vertical scrollbar in IE8-9 */
	overflow: auto;
	/* improves readability and alignment in all browsers */
	vertical-align: top;
	resize: vertical;
	width: 100%;
}

textarea,
select[size],
select[multiple] {
	height: auto;
}

select[size="0"],
select[size="1"] {
	/* 32px / 14px */
	height: 2.28571428571429em;
}

/* addresses `<select>` alignment in Safari/Chrome */
@media (-webkit-min-device-pixel-ratio: 0) {

	select[size],
	select[multiple],
	select[multiple][size] {
		background-image: none;
		padding-right: .5em;
	}

	select,
	select[size="0"],
	select[size="1"] {
		background: #fff url("data:image/svg+xml,<svg version='1.1' baseProfile='full' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='12px' height='4px' viewBox='0 0 12 4' enable-background='new 0 0 12 4' xml:space='preserve'><polygon fill='#333333' points='3.5,4 0,0 7,0'/></svg>") no-repeat right center;
		padding-right: 2em;
		-webkit-background-size: 1em .28571428571429em; // 14px 4px
		        background-size: 1em .28571428571429em; // 14px 4px
	}

}

optgroup {
	font-family: $font-sans-serif; // font family repeated, for Firefox
	font-style: normal;
	font-weight: normal;
	color: $color-text;

	&::-moz-focus-inner { // kill phantom spacing and dotted border that appears in Firefox
		border: 0;
		padding: 0;
	}
}

/* addresses box sizing set to `content-box` and excess padding in IE8-9 */
input[type="checkbox"],
input[type="radio"] {
	padding: 0;
	box-sizing: border-box;
}

/* make sure disable elements really are disabled */
button[disabled],
html input[disabled], // `html` is a workaround for Android 4 bug
input[type="button"][disabled],
input[type="reset"][disabled],
input[type="submit"][disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled],
span.disabled {
	opacity: 1;
	-webkit-user-select: none;
	 -khtml-user-select: none;
	   -moz-user-select: -moz-none;
	        user-select: none;
	border-color: lighten($color-border, 9%) !important;
	text-shadow: none !important;
	color: $color-text-footnote !important;
	background: #eee !important;
	cursor: default !important;
	top: 0 !important;
}

.large {
	input {
		width: 50%;
		min-width: 302px;
	}

	textarea {
		height: 156px;
	}
}

.small {
	input {
		width: 25%;
		min-width: 151px;
	}

	textarea {
		height: 5.5em;
	}
}
