//
// note: this file is for use with Sass - http://sass-lang.com,
// don't use it as your live site stylesheet!
//


/* Forms
   ========================================================================== */

/* corrects margin displayed oddly in IE6-7 */
form {
	margin: 0;
}

/* remove default fieldset styling across browsers */
fieldset {
	margin: 0;
	border: 0;
	padding: 0;
}

/* corrects color not being inherited in IE7-9, corrects text not wrapping in FF3, corrects alignment displayed oddly in IE7 */
legend {
	border: 0;
	padding: 0;
	white-space: normal;
	*margin-left: -7px;
}

/* improves appearance and consistency in all browsers */
button,
.button,
input,
select,
textarea {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
	/* improves appearance and consistency in IE7 */
	*vertical-align: middle;
}

/* colour placeholder text (Webkit and Mozilla only, so far) */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: $color-text-footnote;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
	color: $color-text-footnote;
}

/* focus glow on form elements */
button,
.button,
input,
input[type="button"],
input[type="reset"],
input[type="submit"],
select,
textarea {
	&:focus {
		@include box-shadow(0 0 7px $color-link-hover);
		/* Opera */
		z-index: 1;
	}
}

/* suppress red glow that Firefox adds to form fields by default, even when user is still typing
   and kill phantom spacing and dotted border that appears in Firefox */
button,
input,
select,
textarea {
	&:invalid {
		@include box-shadow(none);
	}

	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}
}

/* remove inner padding and search cancel button in webkit on OS X */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

input[type="file"],
input[type="radio"],
input[type="checkbox"] {
	&:focus,
	&:active {
		@include box-shadow(none);
	}
}

textarea,
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
	font-family: $font-sans-serif;
	/* 12px */
	font-size: .85714285714286em;
	text-align: left;
	border: solid 1px $color-border;
	padding: .5em;
	background: #fff;
	outline: 0;
	@include box-sizing;
	/* remove iOS Safari default styling */
	-webkit-appearance: none;
	@include border-radius(0);
}

input[type="color"] {
	padding: 0;
	height: 2.33333333333333em;
}

[role="complementary"] input[type="search"] {
	margin-right: 2px;
	width: 66.666666666667%;
	@include inline-block;
}

textarea[disabled],
select[disabled],
input[type="color"][disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled] {
	background-color: #eee;
}

/* make sure disable elements really are disabled */
button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled] {
	opacity: 1;
	@include box-shadow(none);
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	user-select: none;
	color: $color-text-footnote;
	cursor: default;
}

textarea {
	min-height: 3em;
	/* removes default vertical scrollbar in IE7-9 */
	overflow: auto;
	/* improves readability and alignment in all browsers */
	vertical-align: top;
	resize: vertical;
	width: 100%;
}

select {
	font-family: $font-sans-serif;
	/* 12px */
	font-size: .85714285714286em;
	text-align: left;
	border: solid 1px $color-border;
	padding: .5em;
	background: #fff;
	outline: 0;
	@include box-sizing;
}

textarea,
select[size],
select[multiple] {
	height: auto;
}

optgroup {
	font-family: $font-sans-serif; // Font family repeated, for Firefox
	font-style: normal;
	font-weight: normal;
	color: $color-text;

	&::-moz-focus-inner { // kill phantom spacing and dotted border that appears in Firefox
		border: 0;
		padding: 0;
	}
}

.large {
	input {
		width: 50%;
		min-width: 302px;
	}

	textarea {
		height: 156px;
	}
}

.small {
	input {
		width: 25%;
		min-width: 151px;
	}

	textarea {
		height: 5.5em;
	}
}

/* addresses box sizing set to content-box and excess padding in IE8-9 */
input[type="checkbox"],
input[type="radio"] {
	@include box-sizing;
	padding: 0;
	*height: 1em;
	*width: 1em;
}

/* addresses select alignment in Safari/Chrome */
@media (-webkit-min-device-pixel-ratio: 0) {

select,
select[size="0"],
select[size="1"] {
	height: 2.33333333333333em;
}

select:not([size]),
select:not([multiple]) {
	position: relative;
	top: -1px;
}

}
