//
// note: this file is for use with Sass - http://sass-lang.com,
// don't use it as your live site stylesheet!
//


/* Support for non-latin languages (can be removed if not required)
   ========================================================================== */

html[lang="ar-dz"] * {
	font-family: Tahoma;
}

html[lang="ja-jp"] * {
	font-family: "MS Gothic", Osaka;
	font-weight: normal;
}

html[lang="ko-kr"] * {
	font-family: GulimChe, Gulim;
	font-weight: normal;
}

html[lang="zh-cn"] * {
	font-family: SimHei;
	font-weight: normal;
}

html[lang="zh-tw"] * {
	font-family: PMingLiU;
	font-weight: normal;
}
