//
// note: this file is for use with Sass - http://sass-lang.com,
// don't use it as your live site stylesheet!
//


/* Support for non-latin languages (can be removed if not required)
   ========================================================================== */

html[lang="ja-jp"] *,
html[lang="ja-jp"] input {
	font-family: "Hiragino Kaku Gothic Pro", Meiryo;
	font-weight: normal;
}

html[lang="ko-kr"] *,
html[lang="ko-kr"] input {
	font-family: GulimChe, Gulim;
	font-weight: normal;
}

html[lang="zh-cn"] *,
html[lang="zh-cn"] input {
	font-family: SimHei;
	font-weight: normal;
}

html[lang="zh-tw"] *,
html[lang="zh-tw"] input {
	font-family: PMingLiU;
	font-weight: normal;
}
