//
// note: this file is for use with Sass - http://sass-lang.com,
// don't use it as your live site stylesheet!
//


/* Lists
   ========================================================================== */

dt {
	font-style: italic;
}

[role="main"] #article-list {
	list-style: none;
	margin: 0 0 2em 0;
	padding: 0;
	border-top: solid 1px $color-border;
}

#article-list li {
	border-bottom: solid 1px $color-border;
	padding-top: 1em;
	margin-bottom: 0;
}
