//
// note: this file is for use with Sass - http://sass-lang.com,
// don't use it as your live site stylesheet!
//


/* Lists
   ========================================================================== */

/* address paddings set differently */
menu,
ol,
ul {
	padding: 0 0 0 2em;
}

/* remove margins from nested lists */
dl dl,
ul ul,
ol ol {
	margin: 0;
}

dd {
	margin: 0 0 0 2em;
}

dt {
	font-style: italic;
}

.article-list {
	list-style: none;
	margin: 0 0 2em 0;
	padding: 0;
	border-top: 1px solid $color-border;

	li {
		margin-bottom: 0;
		border-bottom: 1px solid $color-border;
	}
}
