// note: this file is for use with Sass - http://sass-lang.com, don't use it as your live site stylesheet!

// standard gradients

@mixin gradient($color-gradient-from, $color-gradient-to) {
    background: {
        color: $color-gradient-from;
        /* Konqueror */
        image:  -khtml-gradient(linear, left top, left bottom, from($color-gradient-from), to($color-gradient-to));
        /* Safari4+, Chrome */
        image: -webkit-gradient(linear, left top, left bottom, from($color-gradient-from), to($color-gradient-to));
        /* Safari5.1+, Chrome10+ */
        image: -webkit-linear-gradient($color-gradient-from, $color-gradient-to);
        /* Firefox3.6 */
        image:    -moz-linear-gradient($color-gradient-from, $color-gradient-to);
        /* IE10 */
        image:     -ms-linear-gradient($color-gradient-from, $color-gradient-to);
        /* Opera11.10+ */
        image:      -o-linear-gradient($color-gradient-from, $color-gradient-to);
        /* CSS3 Compliant */
        image:         linear-gradient($color-gradient-from, $color-gradient-to);
    }
    /* IE7-9 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$color-gradient-from}',EndColorStr='#{$color-gradient-to}');
    /* hack to remove any border-radius in IE9 so we can keep filter gradients */
    border-radius: 0 \0;
}

// rounded corners

@mixin border-radius($border-radius) {
    -moz-border-radius: $border-radius; // Firefox3.6, Camino2.1
         border-radius: $border-radius;
}

// drop shadows

@mixin box-shadow($shadow: 0 1px 2px rgba(0, 0, 0, .2)) {
    -webkit-box-shadow: $shadow; // Safari4
       -moz-box-shadow: $shadow; // Firefox3.6, Camino2.1
            box-shadow: $shadow;
}

// text shadows

@mixin text-shadow-light {
    text-shadow: 1px 1px 0 rgba(255, 255, 255, .5);
}
@mixin text-shadow-dark {
    text-shadow: -1px -1px 0 rgba(0, 0, 0, .25);
}

// box sizing

@mixin box-sizing($box-sizing: border-box) {
	-webkit-box-sizing: $box-sizing;
	   -moz-box-sizing: $box-sizing;
			box-sizing: $box-sizing;
}

// Cross-platform inline-block

@mixin inline-block {
    display: -moz-inline-box;
    -moz-box-orient: vertical;
    display: inline-block;
    vertical-align: middle;
    /* display and zoom IE7 fix for display:inline-block */
    *display: inline;
    *zoom: 1;
    *vertical-align: auto;
}
