//
// note: this file is for use with Sass - http://sass-lang.com,
// don't use it as your live site stylesheet!
//


/* ==========================================================================
   Additional layout for screen media 576px and up
   ========================================================================== */

@media only screen and (min-width: $break-small) {

.site-navigation {
	ul {
		width: 93.75%;
	}

	li {
		float: left;
		border-right: solid 1px $color-gradient-border;
		border-bottom: 0;

		&:first-child {
			border-left: solid 1px $color-gradient-border;
		}
	}

	a {
		padding: 0.5em 1em;
	}
}

}


/* ==========================================================================
   Additional layout for screen media 864px and up
   ========================================================================== */

@media only screen and (min-width: $break-medium) {

main {
	float: left;
	width: 62.5%;
}

[role="complementary"] {
	float: right;
	border: solid 1px lighten($color-border, 9%);
	@include border-radius($default-border-radius);
	padding: 0 1em;
	width: 30%;
	background: $color-background-box;
}

}


/* ==========================================================================
   Additional layout for screen media 1280px and up
   ========================================================================== */

@media only screen and (min-width: $break-large) {

header,
footer,
.container,
.site-navigation ul {
	/* 1200px / 1280px */
	width: 93.75%;
}

}


/* ==========================================================================
   Fix for reponsive embedded content in IE8
   ========================================================================== */

@media \0screen {

img,
video {
	width: auto;
}

}
