// note: this file is for use with Sass - http://sass-lang.com, don't use it as your live site stylesheet!

// font families

$font-body:             "PT Serif", Georgia, Times, serif;
$font-heading:          Helvetica, Arial, Verdana, sans-serif;
$font-mono:             Cousine, Consolas, Monaco, "Courier New", monospace;
$font-print:            "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;

// typography grid

$basefont:              .875em;            // 14px / 16px
$baseline:              1.5;               // 21px / 14px
$smallfont:             .85714285714286em; // 12px / 14px

// text colours

$color-text:            #333;
$color-text-footnote:   #999;
$color-text-highlight:  #fabc2b;
$color-link:            #1a428b;
$color-link-hover:      #06f;
$color-link-visited:    #551a8b;

// default gradients

$color-gradient-from:   #ffda44;
$color-gradient-to:     #fabc2b;
$color-gradient-border: #e1a61a;

// borders

$color-border:          #ccc;
$border-radius:         5px;

// accent colours

$color-background:      #fff;
$color-background-box:  #f0f2f6;
$color-highlight-box:   #fdf5d9;
