//
// note: this file is for use with Sass- http://sass-lang.com,
// don't use it as your live site stylesheet!
//


// font families

$font-serif:			"PT Serif", Georgia, serif;
$font-sans-serif:		Arial, Helvetica, sans-serif;
$font-mono:				Cousine, Consolas, "Lucida Console", Monaco, monospace;
$font-print:			"Helvetica Neue", Helvetica, Arial, sans-serif;

// typography grid

$basefont:				.875em; // 14px / 16px
$baseline:				1.5; // 21px / 14px

// text colours

$color-text:			#333;
$color-text-footnote:	#888;
$color-text-highlight:	#fabc2b;
$color-link:			#114eb1;
$color-link-hover:		#06f;
$color-link-visited:	#183082;

// default gradients

$color-gradient-from:	#ffda44;
$color-gradient-to:		#fabc2b;
$color-gradient-border:	#e1a61a;

// borders

$color-border:			#ccc;
$border-radius:			.35714285714286em; // 5px / 14px

// accent colours

$color-background:		#fff;
$color-background-box:	#f7f7f7;
$color-highlight-box:	#fff6d3;
