//
// note: this file is for use with Sass - http://sass-lang.com,
// don't use it as your live site stylesheet!
//


// import Sass partials
@import "variables", "mixins";


/* ==========================================================================
   Styling and layout for all media
   ========================================================================== */

/* correct block display not defined in IE8-9 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
	display: block;
}

/* correct `<summary>` not showing as clickable */
summary {
	cursor: pointer;
}

/* address styling for `hidden` attribute not present in IE8-9 */
[hidden] {
	display: none;
}

@import "clearfix";


/* ==========================================================================
   Styling and layout for screen media (mobile first)
   ========================================================================== */

@media screen {

@import "layout", "links", "typography", "internationalisation", "embedded-content", "tables", "lists", "forms", "buttons", "comments";

}

@import "responsive", "print";
