//
// note: this file is for use with Sass - http://sass-lang.com,
// don't use it as your live site stylesheet!
//


// import Sass partials
@import "variables", "mixins";


/* ==========================================================================
   Desktop version layout for IE8 due to lack of media queries support
   ========================================================================== */

header,
footer,
.container,
.site-navigation ul {
	width: 93.75%;
}

.site-navigation {
	li {
		float: left;
		border-right: solid 1px $color-gradient-border;
		border-bottom: 0;

		&:first-child {
			border-left: solid 1px $color-gradient-border;
		}
	}

	a {
		padding: 0.5em 1em;
	}
}

main {
	float: left;
	width: 62.5%;
}

[role="complementary"] {
	float: right;
	border: solid 1px lighten($color-border, 9%);
	@include border-radius($default-border-radius);
	padding: 0 1em;
	width: 30%;
	background: $color-background-box;
}


/* Fix for reponsive embedded content in IE8
   ========================================================================== */

img,
video {
	width: auto;
}
