// import global variables
@import "core/settings";

// import mixins
@import "core/helpers";


/* ==========================================================================
   Desktop version layout for IE8 due to lack of media queries support
   ========================================================================== */

header,
footer,
.container,
.site-navigation ul {
    width: 93.75%;
}

.site-navigation {
    border-top: 1px solid $color-border;

    li {
        float: left;
        border-top: 0;
        border-right: 1px solid $color-gradient-border;

        &:first-child {
            border-left: 1px solid $color-gradient-border;
        }
    }

    a {
        padding: 0.5em 1em;
    }
}

main {
    float: left;
    width: 62.5%;
}

[role="complementary"] {
    float: right;
    border: 1px solid lighten($color-border, 9%);
    padding: 0 1em;
    width: 30%;
    background: $color-background-box;
}


/* Fix for reponsive embedded content in IE8
   ========================================================================== */

img,
video {
    width: auto;
}
