/* Reset
   ========================================================================== */

/**
 * Add the correct display in IE 11 and Firefox.
 */

details,
main {
    display: block;
}

/**
 * Add the correct vertical alignment in Chrome, Edge, Firefox, and Opera.
 */

progress {
    vertical-align: baseline;
}

/**
 * Add the correct display in all browsers.
 */

summary {
    display: list-item;
}

/* Clearfix
   ========================================================================== */

header,
footer,
nav ul,
nav ol,
.container {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}
