/* Reset
   ========================================================================== */

/**
 * Add the correct display in Edge, IE 11, and Firefox.
 */

details,
main {
    display: block;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
    vertical-align: baseline;
}

/**
 * Add the correct display in all browsers.
 */

summary {
    display: list-item;
}

/**
 * Add the correct display in IE 11.
 */

template {
    display: none;
}

/**
 * Remove tap delay in modern browsers.
 */

a,
input,
button {
    touch-action: manipulation;
}


/* Clearfix
   ========================================================================== */

header,
footer,
nav ul,
nav ol,
.container {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}
