/* Clearfix
   ========================================================================== */

header,
footer,
nav ul,
nav ol,
.container {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}
