@use "sass:color";
@use "../setup/colours";
@use "../setup/helpers";

/* Buttons
   ========================================================================== */

/**
 * 1. Remove browser-specific default styling.
 * 2. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
    @include helpers.gradient-linear(
        colours.$color-button-gradient-from,
        colours.$color-button-gradient-to
    );

    display: inline-block;
    position: relative;
    height: 2em; // 32px / 16px
    padding: 0.25em 1em; // 4px / 16px
    border: 1px solid colours.$color-button-border;
    border-radius: 1em;
    box-shadow: 0 2px 0 colours.$color-button-shadow;
    color: colours.$color-text-button;
    font-weight: normal;
    text-align: center;
    /* 1 */
    appearance: none;
    /* 2 */
    cursor: pointer;

    &:hover {
        @include helpers.gradient-linear(
            colours.$color-button-gradient-hover-from,
            colours.$color-button-gradient-hover-to
        );

        border-color: colours.$color-button-border-hover;
        color: colours.$color-text-button-hover;
        text-decoration: none;
    }

    &:active {
        top: 2px;
        border-color: colours.$color-button-border-active;
        box-shadow: none;
        color: colours.$color-text-button-active;
        text-decoration: none;
    }

    &:focus-visible {
        border-color: colours.$color-link-focus;
        outline: 2px solid transparent; // Allows for repainting in high contrast modes.
        outline-offset: 2px;
    }
}

/**
 * Disbaled button additional styling.
 */

button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled] {
    top: 2px !important;
}
