/* Buttons
   ========================================================================== */

/**
 * 1. Correct `button` style inheritance in Firefox, IE 11, and Opera.
 * 2. Address `overflow` set to `hidden` in IE 11.
 */

button {
    /* 1 */
    text-transform: none;
    /* 2 */
    overflow: visible;
}

/**
 * 1. Remove browser-specific default styling.
 * 2. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
    @include gradient-linear($color-button-gradient-from, $color-button-gradient-to);

    display: inline-block;
    position: relative;
    width: auto;
    height: 2em; // 32px / 16px
    padding: 0.25em 1em; // 4px / 16px
    border: 1px solid $color-button-border;
    border-radius: 1em;
    background-clip: padding-box;
    color: $color-text-button;
    font-weight: normal;
    text-align: center;
    /* 1 */
    appearance: none;
    box-shadow: 0 2px 0 $color-button-shadow;
    /* 2 */
    cursor: pointer;

    &:hover {
        @include gradient-linear(lighten($color-button-gradient-from, 4%), lighten($color-button-gradient-to, 4%));

        border-color: darken($color-button-border, 13%);
        color: $color-text-button-hover;
        text-decoration: none;
    }

    &:active {
        top: 2px;
        border-color: darken($color-button-border, 13%);
        color: $color-text-button-active;
        text-decoration: none;
        box-shadow: none;
    }

    &:focus {
        border-color: $color-link-focus;
        outline: 1px solid transparent; // Allows for repainting in high contrast modes.
    }
}

/**
 * Disbaled button additional styling.
 */

button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled] {
    top: 2px !important;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    padding: 0;
    border-style: none;
}
