@use "sass:color";
@use "../setup/colours";
@use "../setup/settings";

/* Comments
   ========================================================================== */

/**
 * Styling for user comments.
 *
 * Example HTML:
 *
 * <article class="comments">
 */

.comments {
    margin-bottom: 1em;
    padding: 1px 1em;
    overflow-wrap: break-word;
    border-radius: settings.$border-radius;
    background: colours.$color-background-box;

    h4 {
        .is-author {
            font-weight: normal;
        }

        .comment-anchor {
            float: right;
            font-weight: normal;
        }
    }
}

/**
 * Additional styling for article author's comments.
 *
 * Example HTML:
 *
 * <article class="comments comments-author">
 */

.comments-author {
    background: color.adjust(colours.$color-background-box, $lightness: -3%);
}

/**
 * Styling for user comments preview.
 */

#cpreview {
    margin-bottom: 2px;
    padding: 1em;
    border-radius: settings.$border-radius;
    background-color: colours.$color-highlight-box;
}

/**
 * Highlight text colour for comment errors.
 */

.error_message li {
    color: colours.$color-error-text;
}

/**
 * Highlighting for comment form errors.
 */

.comments_error {
    border-color: colours.$color-error-text;
}

/* Popup comments (can be removed if you don't use popups)
   ========================================================================== */

/**
 * Restrict maximum width of popup container.
 */

#popup-page .container {
    max-width: 52em;
}
