/* Embedded content
   ========================================================================== */

/**
 * Add the correct display in IE 11.
 */

video {
    display: inline-block;
}

/**
 * Make embedded elements responsive.
 */

img,
video {
    max-width: 100%;
    height: auto;
}

/**
 * Images.
 *
 * 1. Remove the gap between images and the bottom of their containers.
 *
 * Image alignment (compatible with Textile markup syntax).
 *
 * Example HTML:
 *
 * <img class="align-left">
 * <img class="align-right">
 * <img class="align-center">
 */

img {
    /* 1 */
    vertical-align: middle;

    &.align-left {
        margin: 1em 1em 1em 0;
        float: left;
    }

    &.align-right {
        margin: 1em 0 1em 1em;
        float: right;
    }

    &.align-center {
        display: block;
        margin: 1em auto;
    }
}

/**
 * Address margin not present in Safari.
 */

figure {
    margin: 0;
}

/**
 * Correct overflow not hidden in IE 11.
 */

svg:not(:root) {
    overflow: hidden;
}
