/* Support for non-latin languages (can be removed if not required)
   ========================================================================== */

/**
 * Bidirectional (bidi) text support.
 * See: https://www.w3.org/International/articles/inline-bidi-markup/#cssshim
 */

[dir="ltr"],
[dir="rtl"] {
    unicode-bidi: isolate;
}

bdo[dir="ltr"],
bdo[dir="rtl"] {
    unicode-bidi: isolate-override;
}

/**
 * Preferred font for Japanese language.
 */

:lang(ja) {
    font-family: "Hiragino Sans", "Hiragino Kaku Gothic Pro", "Meiryo UI", sans-serif;
    font-weight: 300;
}

/**
 * Preferred font for Korean language.
 */

:lang(ko) {
    font-family: GulimChe, Gulim, sans-serif;
}

/**
 * Preferred font for simplified Chinese (PRC) language.
 */

:lang(zh-cn) {
    font-family: "PingFang SC", SimHei, sans-serif;
}

/**
 * Preferred font for traditional Chinese (Taiwan, Hong Kong) language.
 */

:lang(zh-tw) {
    font-family: "PingFang TC", PMingLiU, sans-serif;
}

/**
 * Suppress `text-decoration` in some RTL languages for better legibility.
 */

[lang|="ar"],
[lang|="fa"],
[lang|="ur"] {
    a:hover {
        text-decoration: none;
    }
}


/**
 * Computer code should be LTR.
 */

[dir="rtl"] code {
    direction: ltr;
}

/**
 * Swap image alignment right/left positions in RTL languages.
 */

[dir="rtl"] img {
    &.align-left {
        margin: 1em 0 1em 1em;
        float: right;
    }

    &.align-right {
        margin: 1em 1em 1em 0;
        float: left;
    }
}

/**
 * Swap table caption alignment in RTL languages.
 */

[dir="rtl"] caption {
    text-align: right;
}

/**
 * Swap table cell text alignments in RTL languages.
 */

[dir="rtl"] {
    th,
    td {
        text-align: right;
    }
}

/**
 * Swap menu/list padding positions in RTL languages.
 */

[dir="rtl"] {
    menu,
    ol,
    ul {
        padding: 0 1.75em 0 0;
    }
}

[dir="rtl"] {
    .site-navigation ul,
    .article-list {
        padding: 0;
    }
}

/**
 * Swap definition description margin positions in RTL languages.
 */

[dir="rtl"] dd {
    margin: 0 1.75em 0 0;
}

/**
 * Swap checkbox/radio margin positions in RTL languages.
 */

[dir="rtl"] {
    input[type="checkbox"],
    input[type="radio"] {
        + label {
            margin: 0 0 0 0.5em;

            &:last-of-type {
                margin: 0;
            }
        }
    }
}

/**
 * Swap paginator (prev/next) navigation links on articles/article lists.
 */

[dir="rtl"] .paginator {
    [rel="prev"] {
        float: right;
    }

    [rel="next"] {
        float: left;
    }
}

/**
 * Swap anchor float position on comments.
 */

[dir="rtl"] .comments h4 .comment-anchor {
    float: left;
}
