@use "../setup/colours";
@use "../setup/settings";

/* Layout
   ========================================================================== */

/**
 * 1. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

html {
    /* 1 */
    text-size-adjust: 100%;
}

/**
 * 1. Set `body` to `relative` to allow positioning of absolute elements.
 * 2. Remove default margin.
 */

body {
    /* 1 */
    position: relative;
    /* 2 */
    margin: 0;
    background: colours.$color-background-box;
}

/**
 * Outer wrapper for main layouts.
 *
 * Example HTML:
 *
 * <div class="wrapper">
 *     <div class="container">
 *         Content
 *     </div>
 * </div>
 */

.wrapper {
    padding: 1px 0;
    border-bottom: 1px solid colours.$color-border;
    background: colours.$color-background;
}

/**
 * Wrapper for layouts, and for site header/footer.
 *
 * Example HTML:
 *
 * <div class="wrapper">
 *     <div class="container">
 *         Content
 *     </div>
 * </div>
 */

.site-header,
.site-footer,
.container {
    width: 88%;
    max-width: settings.$container-max-width;
    margin: 0 auto;
}

/**
 * Additional styling for child content within site header.
 */

.site-header {
    padding: 1em 0;

    h2 {
        margin: 0;
    }

    h3 {
        margin: 0.5em 0 0; // 12px margin top
        font-family: settings.$font-serif;
        font-size: 1.25rem; // 20px / 16px
        font-style: italic;
        font-weight: normal;
        line-height: 1.4; // 28px / 20px
    }
}

/**
 * Additional styling for child content within site footer.
 */

.site-footer {
    padding: 0.5em 0;
}

/**
 * Styling for articles.
 *
 * 1. Prevent really, really long words in article from breaking layout.
 */

.article {
    margin-bottom: 2em;
    /* 1 */
    overflow-wrap: break-word;
}

/**
 * Styling for complementary content.
 *
 * Initially the sidebar appears under main content, it is then repositioned
 * with media queries at 2nd breakpoint.
 *
 * 1. Prevent really, really long words in article from breaking layout.
 */

.complementary-content {
    margin: 2em -6% 0;
    padding: 0 6%;
    border-top: 2px dashed colours.$color-border;
    /* 1 */
    overflow-wrap: break-word;
}

/**
 * Hide text but still allow screen reader access.
 *
 * Example HTML:
 *
 * <p class="accessibility">
 */

.accessibility {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip-path: inset(50%);
    border: 0;
    white-space: nowrap;
}
