@use "sass:color";
@use "../setup/colours";
@use "../setup/settings";

/* Links
   ========================================================================== */

/**
 * 1. Specify link colour.
 * 2. Remove default underline style from non-hover state links.
 * 3. Interrupt the decoration line to let the shape of the text show through
 *    in supported browsers.
 * 4. Remove tap delay in modern browsers.
 */

a {
    /* 1 */
    color: colours.$color-link;
    /* 2 */
    text-decoration: none;
    /* 3 */
    text-decoration-skip-ink: auto;
    /* 4 */
    touch-action: manipulation;

    &:hover,
    &:active {
        outline: 0;
        color: colours.$color-link-hover;
        text-decoration: underline;
    }

    &:focus {
        outline: 1px solid colours.$color-link-focus;
    }
}

/**
 * Additional styling for `h1`-`h3` heading links.
 *
 * 1. Expanded CSS level 3 `text-decoration-color` property in supported
 *    browsers, older browsers ignore this addition.
 */

h1,
h2,
h3,
h4,
h5,
h6 {
    a {
        color: colours.$color-text-heading;

        &:hover,
        &:active {
            color: colours.$color-text-heading;
            /* 1 */
            text-decoration-color: rgba(colours.$color-text, 0.5);
        }
    }
}

/**
 * Paginator (prev/next) navigation links on articles/article lists.
 *
 * Example HTML:
 *
 * <nav class="paginator">
 *     <a rel="prev">
 *     <a rel="next">
 */

.paginator {
    display: flex;
    justify-content: space-between;
}

/**
 * Visually hide unfocussed/inactive ‘skip links’.
 *
 * Example HTML:
 *
 * <a class="skip-link">
 */

.skip-link {
    position: absolute;
    z-index: 2;
    top: 1px;
    left: 1px;
    padding: 0.25em 0.5em;
    transform: translateY(-5em);
    transition: transform 0.25s ease-in-out;
    background-color: color.adjust(
        colours.$color-gradient-from,
        $lightness: 8%
    );
    color: colours.$color-text;
    font-family: settings.$font-sans-serif;

    &:focus,
    &:active {
        transform: translateY(0);
    }
}
