@use "../setup/colours";

/* Lists
   ========================================================================== */

/**
 * Address paddings set differently.
 */

menu,
ol,
ul {
    padding: 0 0 0 2em;
}

/**
 * Remove margins from nested lists.
 */

li {
    > ul,
    > ol {
        margin: 0;
    }
}

/**
 * CSS Lists and Counters Module Level 3 list marker styling.
 */

li::marker {
    color: color-text-heading;
}

/**
 * Address margins set differently.
 */

dd {
    margin: 0 0 0 2em;
}

/**
 * Additional styling for article lists.
 *
 * Example HTML:
 *
 * <ul class="article-list">
 */

.article-list {
    margin: 0 0 2em;
    padding: 0;
    border-top: 1px solid colours.$color-border;
    list-style: none;

    li {
        margin-bottom: 0;
        border-bottom: 1px solid colours.$color-border;
    }
}
