@use "sass:color";
@use "../setup/colours";
@use "../setup/settings";

/* Navigation
   ========================================================================== */

/**
 * Style mobile first version of the navigation menu. Desktop version will
 * override some rules with extra styling at 1st breakpoint.
 *
 * Example HTML:
 *
 * <nav class="site-navigation">
 *     <div>
 *         <ul>
 *             <li class="active"><a></li>
 *             <li><a></li>
 *             <li><a></li>
 *         </ul>
 *         <div class="search">
 *             <form>
 *                 <input type="search">
 *             </form>
 *        </div>
 *    </div>
 * </nav>
 */

.site-navigation {
    background-color: colours.$color-gradient-to;

    > div {
        position: relative;
        max-width: settings.$container-max-width;
        margin: 0 auto;
    }

    ul {
        margin: 0;
        padding: 0;
        border: solid colours.$color-gradient-border;
        border-width: 1px 0;
        list-style: none;
    }

    li {
        border: solid colours.$color-gradient-border;
        border-width: 1px 0;
        background-color: colours.$color-gradient-from;

        &:hover {
            background-color: color.adjust(colours.$color-gradient-from, $lightness: 4%);
        }

        &:active {
            background-color: color.adjust(colours.$color-gradient-to, $lightness: -4%);
            box-shadow: settings.$inset-lowlighting;
        }

        &.active {
            background-color: color.adjust(colours.$color-gradient-from, $lightness: 8%);
            box-shadow: none;
        }
    }

    a {
        display: block;
        padding: 0.5em 6%;
        color: colours.$color-text;

        &:hover,
        &:visited {
            color: colours.$color-text;
            text-decoration: none;
        }

        &:active {
            color: color.adjust(colours.$color-text, $lightness: -10%);
            text-decoration: none;
        }
    }
}

/**
 * Search field in navigation.
 */

.search {
    padding: 1em 6% 0.5em;
    background: colours.$color-background;

    input[type="search"] {
        width: 16em;
        height: 2.125em;
        padding-right: 0.1875em;
        padding-left: 2em;
        border-radius: settings.$border-radius;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg fill='%23333'%3E%3Cpath d='M4,13c0-5,4-9,9-9c5,0,9,4,9,9c0,5-4,9-9,9C8,22,4,18,4,13z M13,19c3.3,0,6-2.7,6-6s-2.7-6-6-6s-6,2.7-6,6S9.7,19,13,19z'/%3E%3Cpath d='M17.5,19l1.5-1.5l4.5,3L28,25c0,0,0,1.5-0.75,2.25S25,28,25,28l-4.5-4.5L17.5,19z'/%3E%3C/g%3E%3C/svg%3E") no-repeat left center;
        background-size: 2em 2em;
    }
}
