@use "sass:color";
@use "../setup/colours";
@use "../setup/settings";

/* ==========================================================================
   Additional layout for screen media 576px and up
   ========================================================================== */

@media only screen and (min-width: settings.$break-small) {
    /**
     * Desktop version of the navigation menu. Overrides mobile first version.
     *
     * Example HTML:
     *
     * <nav class="site-navigation">
     *     <div>
     *         <ul>
     *             <li class="active"><a></li>
     *             <li><a></li>
     *             <li><a></li>
     *         </ul>
     *         <div class="search">
     *             <form>
     *                 <input type="search">
     *             </form>
     *        </div>
     *    </div>
     * </nav>
     */

    .site-navigation {
        border-top: 1px solid colours.$color-border;
        border-bottom: 1px solid colours.$color-border;

        > div {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 88%;
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            border: 0;
        }

        li {
            border-width: 0 1px;
        }

        a {
            padding: 0.5em 1em;
        }
    }

    .search {
        margin-top: 0.2em;
        padding: 0;
        background: transparent;

        input[type="search"] {
            width: 2.125em;
            padding-right: 0;
            transition: width 0.2s ease-in-out, border-color 0.2s ease-in-out;
            background-color: colours.$color-gradient-from;
            cursor: pointer;

            &:hover {
                background-color: color.adjust(colours.$color-gradient-from, $lightness: 4%);
            }

            &:focus {
                width: 16em;
                padding-right: 0.1875em;
                background-color: color.adjust(colours.$color-gradient-from, $lightness: 8%);
                cursor: auto;
            }
        }
    }
}


/* ==========================================================================
   Additional layout for screen media 864px and up
   ========================================================================== */

@media only screen and (min-width: settings.$break-large) {
    /**
     * Enlarge baseline text size.
     */

    html {
        font-size: 1.125rem; // 18px
    }
}
