@use "../setup/colours";

/* Tables
   ========================================================================== */

/**
 * Consistent tables.
 */

table {
    width: 100%;
    margin-bottom: 1em;
    border-spacing: 0;
    border-collapse: collapse;
}

/**
 * Styling of table captions.
 */

caption {
    margin-bottom: 0.5em;
    font-style: italic;
    text-align: left;
}

/**
 * Make table cells align top and left by default.
 */

th,
td {
    padding: 0.5em; // 8px / 16px
    border: 1px solid colours.$color-border-light;
    vertical-align: top;
    text-align: left;
}

/**
 * Emphasize table header.
 */

thead {
    tr {
        background-color: colours.$color-gradient-from;
    }

    th,
    td {
        border: 1px solid colours.$color-border;
    }
}

/**
 * 'Zebra striping' of `tbody` rows.
 */

tbody tr:nth-child(even) {
    background-color: colours.$color-background-box;
}

/**
 * Adjust padding of table footer due to smaller font size.
 */

tfoot {
    th,
    td {
        padding: 0.6666667em; // 8px / 12px
    }
}

/**
 * Multi-row span vertical cell alignments.
 */

[rowspan] {
    vertical-align: middle;
}
