@use "sass:color";
@use "sass:math";
@use "../setup/colours";
@use "../setup/settings";

/* Typography
   ========================================================================== */

/**
 * Establish baseline.
 */

html {
    font-size: settings.$base-font-size;
    line-height: settings.$base-line-height;
}

/**
 * Global font and text colour.
 */

body {
    color: colours.$color-text;
    font-family: settings.$font-serif;
}

/**
 * Sans-serif font for main navigation menu.
 */

.site-navigation {
    font-family: settings.$font-sans-serif;
    font-weight: bold;
}

/**
 * Harmonize size, style and vertical margin of headings.
 */

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    color: colours.$color-text-heading;
    font-family: settings.$font-sans-serif;
}

h1 {
    margin: 0.6315789em 0; // 24px / 38px
    font-size: 2.375rem; // 38px / 16px
    letter-spacing: -0.25px;
    line-height: 1.1842105; // 45px / 38px
}

h2 {
    margin: 0.75em 0; // 24px / 32px
    font-size: 2rem; // 32px / 16px
    letter-spacing: -0.25px;
    line-height: 1.25; // 40px / 32px
}

h3 {
    margin: 1em 0; // 24px
    font-size: 1.5rem; // 24px / 16px
    letter-spacing: -0.25px;
    line-height: 1.3333333; // 32px / 24px
}

h4 {
    margin: 1em 0; // 20px
    font-size: 1.25rem; // 20px / 16px
    line-height: 1.4; // 28px / 20px
}

h5 {
    margin: 1em 0; // 18px
    font-size: 1.125rem; // 18px / 16px
    line-height: 1.4444444; // 26px / 18px
}

h6 {
    margin: 1em 0; // 16px
    font-size: 1rem;
    line-height: settings.$base-line-height;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
    font-weight: bolder;
}

/**
 * Add vertical margin to addresses.
 */

address {
    margin: 1em 0;
}

/**
 * Additional styling for blockquotes.
 */

blockquote {
    margin: 0.8em 0; // 16px / 20px
    font-size: 1.25rem; // 20px / 16px
    font-style: italic;
    line-height: 1.4; // 28px / 20px
    text-align: center;
}

/**
 * 1. Remove the bottom border in Chrome 57+.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
    /* 1 */
    border-bottom: 0;
    /* 2 */
    text-decoration: underline dotted;
}

/**
 * Consistent styling for `mark` and `var` tags.
 */

mark,
var {
    padding: 0 0.25em; // 0 4px
    border-radius: math.div(settings.$border-radius, 2);
    background: colours.$color-highlight-box;
    color: colours.$color-text;
}

/**
 * Harmonize size and style of computer text.
 */

pre,
code,
kbd,
samp {
    border: 1px solid color.adjust(colours.$color-border, $lightness: 9%);
    border-radius: 0.2857143em; // 4px / 14px
    background-color: colours.$color-background-box;
    color: colours.$color-text;
    font-family: settings.$font-code;
    font-size: settings.$code-font-size;
    line-height: settings.$base-line-height;
}

code,
kbd,
samp {
    padding: 1px 0.21429em; // 2px / 14px + 3px / 14px
}

/**
 * Additional stylng for preformatted text/code.
 *
 * 1. Contain overflow in all browsers.
 * 2. Don't wrap long words.
 * 3. Set tab size to 4 spaces.
 */

pre {
    padding: 0.5714286em 1.1428571em; // 8px / 14px + 16px / 14px
    /* 1 */
    overflow-x: auto;
    /* 2 */
    word-wrap: normal;
    /* 3 */
    tab-size: 4;

    code {
        padding: 0;
        border: 0;
        background-color: transparent;
        direction: ltr;
        font-size: 1em;
        hyphens: none;
        text-align: left;
        word-wrap: normal;
        word-break: normal;
        word-spacing: normal;
        white-space: pre;
    }
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in all
 * browsers.
 */

sub,
// override Textile class
sup.footnote,
sup {
    position: relative;
    font-size: 0.75em;
    line-height: 0;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/**
 * Harmonize size and style of small text.
 */

small,
figcaption,
tfoot,
.footnote {
    font-size: settings.$small-font-size;
    line-height: settings.$base-line-height;
}

figcaption,
tfoot,
.footnote {
    color: colours.$color-text-footnote;
}

figcaption {
    margin-top: 0.5em;
    font-style: italic;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
    /* 1 */
    box-sizing: content-box;
    height: 24px;
    margin: 1em 0;
    /* 2 */
    overflow: visible;
    border: 0; // remove the default `hr` border
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 240 24'%3E%3Cpath fill='%23333' d='M0,0c1.742,13.61,54.74,20.912,119.995,15.279C184.922,9.679,238.594,13.024,240,24c-1.744-13.613-54.742-20.913-120.005-15.284C55.078,14.32,1.405,10.973,0,0z'/%3E%3C/svg%3E")
        50% 50% no-repeat;
    background-size: 240px 24px;
}
