/* correct block display not defined in IE8-9 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
    display: block;
}

/* correct `<summary>` not showing as clickable */
summary {
    cursor: pointer;
}

/* set correct display for `progress` in IE8-9 */
progress {
    display: inline-block;
}

/* address `[hidden]` styling not present in IE8-9.
   hide the `template` element in IE, Safari, and Firefox < 22 */
[hidden],
template {
    display: none;
}

/* remove tap delay in IE10+ (and proposed for other browsers) */
a,
input,
button {
    @include touch-action;
}


/* Clearfix
   ========================================================================== */
/* http://nicolasgallagher.com/micro-clearfix-hack/ */

header,
footer,
nav ul,
nav ol,
.clearfix,
.container,
.paginator {
    @include pie-clearfix;
}
