/* correct `block` display not defined for any HTML5 element in IE 8-9
   correct `block` display not defined for `details` or `summary` in IE 10-11 and Firefox
   correct `block` display not defined for `main` in IE 11 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
    display: block;
}

/* correct `<summary>` not showing as clickable */
summary {
    cursor: pointer;
}

/* set correct display for `progress` in IE 8-9
   improve vertical alignment of `progress` in Chrome, Firefox, Opera */
progress {
    display: inline-block;
    vertical-align: baseline;
}

/* address `[hidden]` styling not present in IE 8-10
   hide the `template` element in IE 8-11, Safari, Firefox < 22 */
[hidden],
template {
    display: none;
}

/* remove tap delay in IE 10+ (and proposed for other browsers) */
a,
input,
button {
    @include touch-action;
}


/* Clearfix
   ========================================================================== */
/* http://nicolasgallagher.com/micro-clearfix-hack/ */

header,
footer,
nav ul,
nav ol,
.clearfix,
.container,
.paginator {
    @include pie-clearfix;
}
