/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in older browsers.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

/**
 * Address `[hidden]` styling not present in IE 10.
 * Hide the `template` element in IE 10/11 and Safari.
 */

[hidden],
template {
    display: none;
}

/**
 * Remove tap delay in modern browsers.
 */

a,
input,
button {
    touch-action: none;
}

/**
 * Correct `summary` not showing as clickable.
 */

summary {
    cursor: pointer;
}


/* Clearfix
   ========================================================================== */

/**
 * Clearfix using the 'A new micro clearfix hack' method.
 *
 * More info: http://nicolasgallagher.com/micro-clearfix-hack/
 */

header,
footer,
nav ul,
nav ol,
.clearfix,
.container,
.paginator {
    &:after {
        display: table;
        clear: both;
        content: "";
    }
}
