/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
    /* 1 */
    display: inline-block;
    /* 2 */
    vertical-align: baseline;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */

[hidden],
template {
    display: none;
}

/**
 * Remove tap delay in IE 10+ (and proposed for other browsers).
 */

a,
input,
button {
    @include touch-action;
}

/**
 * Correct `summary` not showing as clickable.
 */

summary {
    cursor: pointer;
}


/* Clearfix
   ========================================================================== */

/**
 * Clearfix using the 'A new micro cleafix hack' method.
 *
 * More info: http://nicolasgallagher.com/micro-clearfix-hack/
 */

header,
footer,
nav ul,
nav ol,
.clearfix,
.container,
.paginator {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
