/**
 * Remove unnecessary global styling from printed media.
 */

* {
    @include box-shadow(none !important);

    color: $color-text-print !important;
    text-shadow: none !important;
    background: transparent !important;
}

/**
 * Use a print-friendly font and size.
 */

body {
    margin: 0.5cm;
    padding: 2em 5em;
    font-family: $font-print;
    font-size: 8pt;
    line-height: 1.5;
}

/**
 * Visually separate header from body.
 */

.site-header {
    border-bottom: solid 1pt $color-text-print;
}

/**
 * Visually separate footer from body.
 */

.site-footer {
    margin-top: 12pt;
    border-top: solid 1pt $color-text-print;
}

/**
 * Hide unnecessary content from print.
 */

nav,
audio,
video,
form,
#comments-form,
.comments h4 a:last-child,
.complementary-content,
.paginator {
    display: none;
}

/**
 * Make sure links are not underlined.
 */

a {
    text-decoration: none;
}

/**
 *  Show long-form for abbreviations in print.
 */

abbr[title] {
    &:after {
        content: " (" attr(title) ")";
    }
}

/**
 *  Harmonise size, style and vertical margin of headings.
 */

h1 {
    font-size: 32pt;
    line-height: 36pt;
    font-weight: normal;
    margin: 16pt 0;
}

h2 {
    font-size: 24pt;
    line-height: 28pt;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    margin: 14pt 0;
}

h3 {
    font-size: 18pt;
    line-height: 22pt;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    margin: 12pt 0;
}

h4 {
    font-size: 14pt;
    line-height: 18pt;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    margin: 11pt 0;
}

h5 {
    font-size: 12pt;
    line-height: 16pt;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    margin: 10pt 0;
}

h6 {
    font-size: 10pt;
    line-height: 14pt;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    margin: 9pt 0;
}

/**
 * Prevent widows (single final paragraph line on next page) and orphans (single
 * first paragraph line on previous page).
 */

p {
    orphans: 2;
    widows: 2;
}

/**
 * Harmonise size and style of small text.
 */

footer,
figcaption,
tfoot,
small,
.footnote {
    font-size: 6pt;
}

/**
 * Simple blockquote styling.
 *
 * 1. Avoid blockquotes breaking across mutiple pages.
 */

blockquote {
    font-size: 16pt;
    border-left: 3pt solid $color-text-print;
    padding: 0 0 0 8pt;
    /* 1 */
    page-break-inside: avoid;
}

/**
 * Simple preformatted text styling.
 */

pre {
    margin-bottom: 8pt;
    border: solid 1pt $color-text-print;
    padding: 8pt;
}

/**
 * Avoid user comments breaking across mutiple pages.
 */

.comments {
    page-break-inside: avoid;
}

/**
 * Use a print-friendly monospaced font and size.
 */

pre,
code,
kbd,
samp,
var {
    font-family: "Courier New", Courier, monospace;
}

/**
 * Italic definitons, quotes and definition terms.
 */

dfn,
q,
dt {
    font-style: italic;
}

/**
 * Images.
 *
 * 1. Ensure images are maximum possible width.
 * 2. Avoid images breaking across mutiple pages.
 *
 * Image alignment (compatible with Textile markup syntax).
 *
 * Example HTML:
 *
 * <img class="align-left">
 * <img class="align-right">
 * <img class="align-center">
 */

img {
    /* 1 */
    max-width: 100% !important;
    /* 2 */
    page-break-inside: avoid;

    &.align-left {
        float: left;
        margin: 1em 1em 1em 0;
    }

    &.align-right {
        float: right;
        margin: 1em 0 1em 1em;
    }

    &.align-center {
        display: block;
        margin: 1em auto;
    }
}

/**
 * Ensure margin below `figure`.
 */

figure {
    margin-bottom: 8pt;
}

/**
 * Ensure margin above `figcaption`.
 */

figcaption {
    margin-top: 4pt;
}

/**
 * Simple bullet styling for `ul` unordered lists.
 */

ul {
    list-style: square;
    padding: 0 0 8pt 1.8em;
}

/**
 * Simple numerical styling for `ol` ordered lists.
 */

ol {
    list-style: decimal;
    padding: 0 0 8pt 1.8em;
}

/**
 * Normalise margins on `dl` definition lists.
 */

dl {
    padding: 0 0 8pt 1.8em;
}

/**
 * 1. Ensure margin below `table`.
 * 2. Make `table` span entire page width.
 */

table {
    /* 1 */
    margin-bottom: 8pt;
    /* 2 */
    width: 100%;
}

/**
 * Harmonise styling for `caption`.
 */

caption {
    font-weight: bold;
    text-align: left;
    margin-bottom: 4pt;
}

/**
 * Display table head across multi-page tables.
 */

thead {
    display: table-header-group;

    th {
        border-top: 1pt solid $color-text-print;
    }
}

/**
 * Avoid table rows breaking across mutiple pages.
 */

tr {
    page-break-inside: avoid;
}

/**
 * Simple styling for table cells.
 */

th,
td {
    border-bottom: solid 1pt $color-text-print;
    padding: 4pt 8pt;
}
