// set Compass minimum browser support and caniuse thresholds

$graceful-usage-threshold:     1;
$critical-usage-threshold:     0.1;
$supported-browsers:           ("chrome", "firefox", "ie", "safari");
$browser-minimum-versions:     ("chrome": "30", "firefox": "24", "ie": "8", "safari": "5");
$debug-browser-support:        false;

// use the Kellum method for hiding text
// http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/

$hide-text-direction:         right;

// font families

$font-serif:                  "PT Serif", Georgia, serif;
$font-sans-serif:             sans-serif;
$font-mono:                   Menlo, Consolas, Monaco, monospace;
$font-print:                  "Helvetica Neue", sans-serif;

// typography grid

$base-font-size:              16px;
$base-line-height:            24px;

// layout grid

$container-max-width:         86em; // 1376px / 16px
$break-large:                 50em; // 800px / 16px
$break-small:                 36em; // 576px / 16px

// borders

$default-border-radius:       0.5em; // 8px / 16px

// shadows

$inset-highlighting:          inset 0 1px 0 rgba(#ffffff, 0.25);
$text-shadow-light:           1px 1px 0 rgba(#ffffff, 0.5);
$text-shadow-dark:            -1px -1px 0 rgba(#000000, 0.1);
