/* add this to your default.css, at the end of the @media screen section */

/* Recent articles
   ========================================================================== */

#monthly-list {
  list-style: none;
  padding: 0;
}

#monthly-list li {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  float: left;
  display: block;
  margin: 0 .5em .5em 0;
  min-width: 2.5em;
  border: solid 1px #ccc;
  -moz-border-radius: .35714285714286em;
  border-radius: .35714285714286em;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  background: #fff;
}

#monthly-list li:active {
  position: relative;
  top: 1px;
}

#monthly-list a {
  display: block;
  text-decoration: none;
  color: #333;
}

#monthly-list a:hover,
#monthly-list a:focus {
  color: #1a1a1a;
}

#monthly-list a:focus {
  outline: 0;
}

#monthly-list a:active {
  top: 0;
}

#monthly-list a .archive-year {
  /* 12px */
  font-size: .85714285714286em;
  font-weight: bold;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
  -moz-border-radius: .35714285714286em .35714285714286em 0 0;
  border-radius: .35714285714286em .35714285714286em 0 0;
  padding: 0 .33333333333333em;
  background-color: #ffda44;
  /* Konqueror */
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffda44), to(#fabc2b));
  /* Safari4+, Chrome */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffda44), to(#fabc2b));
  /* Safari5.1+, Chrome10+ */
  background-image: -webkit-linear-gradient(#ffda44, #fabc2b);
  /* Firefox3.6 */
  background-image: -moz-linear-gradient(#ffda44, #fabc2b);
  /* Opera11.10+ */
  background-image: -o-linear-gradient(#ffda44, #fabc2b);
  /* CSS3 Compliant */
  background-image: linear-gradient(#ffda44, #fabc2b);
}

#monthly-list a:hover .archive-year,
#monthly-list a:focus .archive-year {
  background-color: #ffe477;
  /* Konqueror */
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffe477), to(#fbcc5d));
  /* Safari4+, Chrome */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffe477), to(#fbcc5d));
  /* Safari5.1+, Chrome10+ */
  background-image: -webkit-linear-gradient(#ffe477, #fbcc5d);
  /* Firefox3.6 */
  background-image: -moz-linear-gradient(#ffe477, #fbcc5d);
  /* Opera11.10+ */
  background-image: -o-linear-gradient(#ffe477, #fbcc5d);
  /* CSS3 Compliant */
  background-image: linear-gradient(#ffe477, #fbcc5d);
}

#monthly-list a .archive-month {
  -moz-border-radius: 0 0 .35714285714286em .35714285714286em;
  border-radius: 0 0 .35714285714286em .35714285714286em;
  padding: 0 .28571428571429em;
}

#monthly-list a:hover .archive-month,
#monthly-list a:focus .archive-month {
  background: #fff6d3;
}

#monthly-list span {
  display: block;
  /* IE7 padding fix */
  *position: relative;
  *top: -2px;
}
