/* add this to your default.css, at the end of the @media screen section */

/* Recent articles
   ========================================================================== */

.monthly-list {
  list-style: none;
  padding: 0;
}

.monthly-list:after {
  content: "";
  display: table;
  clear: both;
}

.monthly-list li {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  float: left;
  display: block;
  margin: 0 0.5em 0.5em 0;
  min-width: 2.5em;
  border: 1px solid #ccc;
  -moz-border-radius: 0 0 0.25em 0.25em;
  border-radius: 0 0 0.25em 0.25em;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  background: #fff;
}

.monthly-list li a {
  display: block;
  text-decoration: none;
  color: #333;
}

.monthly-list li a:hover,
.monthly-list li a:focus {
  color: #1a1a1a;
}

.monthly-list li a:focus {
  outline: 0;
}

.monthly-list li a:active {
  top: 0;
}

.monthly-list li a .archive-year {
  /* 12px */
  font-size: 0.75em;
  font-weight: bold;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
  padding: 0 0.25em;
  background-color: #ffda44;
  background-image: -webkit-linear-gradient(#ffda44, #fabc2b);
  background-image: -moz-linear-gradient(#ffda44, #fabc2b);
  background-image: -o-linear-gradient(#ffda44, #fabc2b);
  background-image: linear-gradient(#ffda44, #fabc2b);
}

.monthly-list li a:hover .archive-year,
.monthly-list li a:focus .archive-year {
  background-color: #ffe477;
  background-image: -webkit-linear-gradient(#ffe477, #fbcc5d);
  background-image: -moz-linear-gradient(#ffe477, #fbcc5d);
  background-image: -o-linear-gradient(#ffe477, #fbcc5d);
  background-image: linear-gradient(#ffe477, #fbcc5d);
}

.monthly-list li a .archive-month {
  padding: 0 0.25em;
}

.monthly-list li a:hover .archive-month,
.monthly-list li a:focus .archive-month {
  background: #fff6d3;
}

.monthly-list li span {
  display: block;
}
