/* add this to your default.css, at the end of the @media screen section */

/* cookie disclaimer */

#cookie-disclaimer {
  background-color: #e8e8e8;
  border-bottom: 1px solid #ccc;
  padding: 1px 0;
  -webkit-box-shadow: inset 0 -0.25em 0.25em rgba(51, 51, 51, .1);
  -moz-box-shadow: inset 0 -0.25em 0.25em rgba(51, 51, 51, 0.1);
  box-shadow: inset 0 -0.25em 0.25em rgba(51, 51, 51, .1);
}
