/* cookie disclaimer */

#cookie-disclaimer {
    background-color: #e8e8e8;
    border-bottom: 1px solid #cccccc;
    padding: 1px 0;
    @include box-shadow(inset 0 -0.25em 0.25em rgba(51, 51, 51, 0.1));
}