/* add this to your default.css, at the end of the @media screen section */

/* Responsive slides
   ========================================================================== */

.rslides-container {
  margin: 0 0 2em 0;
  border: solid 1px #ccc;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 6px;
  background: #fff;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}

.rslides li {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: none;
}

.rslides li:first-child {
  position: relative;
  float: left;
  display: block;
}

.rslides img {
  float: left;
  display: block;
  width: 100%;
}

/* slideshow navigator */

a.rslides_nav {
  padding: .38461538461538em;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1;
}

a.rslides_nav.prev {
  float: left;
}

a.rslides_nav.next {
  float: right;
}

a.rslides_nav:hover {
  text-decoration: none;
}

/* slideshow tabs */

.rslides_tabs {
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 1;
}

.rslides_tabs li {
  margin: 8px .25em 0;
  display: inline-block;
  /* display and zoom IE7 fix for display:inline-block */
  *display: inline;
  *zoom: 1;
}

.rslides_tabs a {
  display: block;
  text-indent: -9999px;
  border: 1px solid;
  border-color: #ccc;
  -moz-border-radius: .38461538461538em;
  border-radius: .38461538461538em;
  background: #fff;
  width: .76923076923077em;
  height: .76923076923077em;
}

.rslides_tabs a:hover {
  border-color: #06f;
}

.rslides_here a {
  background: #e3e3e3;
}
