//
// note: this file is for use with Sass - http://sass-lang.com,
// don't use it as your live site stylesheet!
//


// add this to your default.scss, at the end of the @media screen section

/* Responsive slides
   ========================================================================== */

.slides {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	margin: 0 0 2em 0;
	border: solid 1px $color-border;
	@include border-radius;
	padding: 6px;
	background: #fff;
	@include box-shadow;

	li {
		position: absolute;
		display: none;
		left: 0;
		top: 0;
		width: 100%;

		&:first-child {
			position: relative;
			float: left;
			display: block;
		}
	}

	img {
		float: left;
		display: block;
		width: 100%;
	}
}
