/* add this to your default.css, at the end of the @media screen section */

/* Responsive slides
   ========================================================================== */

.slides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  margin: 0 0 2em 0;
  border: solid 1px #ccc;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 6px;
  background: #fff;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.slides li {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: none;
}

.slides li:first-child {
  position: relative;
  float: left;
  display: block;
}

.slides img {
  float: left;
  display: block;
  width: 100%;
}
