//
// note: this file is for use with Sass and Compass - http://sass-lang.com, http://compass-style.org
// don't use it as your live site stylesheet!
//


/* cookie disclaimer */

#cookie-disclaimer {
    background-color: #e8e8e8;
    border-bottom: 1px solid $color-border;
    padding: 1px 0;
    @include box-shadow(inset 0 -0.25em 0.25em rgba(51, 51, 51, 0.1));
}