/* cookie disclaimer */

#cookie-disclaimer {
    @include box-shadow(inset 0 -0.25em 0.25em rgba(51, 51, 51, 0.1));

    border-bottom: 1px solid $color-border;
    padding: 1px 0;
    background-color: darken($color-background-box, 6%);
}
