/* Responsive slides (via ResponsiveSlides.js)
   ========================================================================== */

/**
 * Slideshow parent container.
 *
 * Example HTML:
 *
 * <div class="rslides-container">
 *     <ul class="rslides">
 *         <li><img></li>
 *         <li><img></li>
 */

.rslides-container {
    @include border-radius($default-border-radius / 2);
    @include box-shadow;

    margin: 2em 0;
    border: 1px solid $color-border;
    padding: 0.375em;
    background: #ffffff;
}

/**
 * Slideshow slides child container.
 *
 * Example HTML:
 *
 * <div class="rslides-container">
 *     <ul class="rslides">
 *         <li><img></li>
 *         <li><img></li>
 */

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0;

    li {
        -webkit-backface-visibility: hidden;
        position: absolute;
        display: none;
        left: 0;
        top: 0;
        width: 100%;
    }

    img {
        float: left;
    }
}

/**
 * Slideshow navigator arrows.
 */

a.rslides_nav {    padding: 0.25em;
    font-family: $font-sans-serif;
    line-height: 1;

    &.prev {
        float: left;
    }

    &.next {
        float: right;
    }

    &:hover {
        text-decoration: none;
    }
}

/**
 * Slideshow position indicator tabs.
 */

.rslides_tabs {
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 1;

    li {
        margin: 0.375em 0.25em 0;
        display: inline-block;
    }

    a {
        @include adjust-font-size-to(12px, 0.75);
        @include hide-text;
        @include border-radius; // 6px

        display: block;
        border: 1px solid;
        border-color: $color-border;
        background: #ffffff;
        width: 1em;  // 12px
        height: 1em; // 12px

        &:hover {
            border-color: $color-link-hover;
        }
    }
}

/**
 * Highlight the position indicator tab of currently active slide.
 */

.rslides_here a {
    background: #e3e3e3;
}
