/* add this to your default.css, at the end of the @media screen section */

#flickr_badge_wrapper {
  margin: 0 -10px 0 0;
}

.flickr_badge_image {
  float: left;
  margin: 5px 10px 5px 0;
}

.flickr_badge_image a {
  display: block;
  width: 75px;
  height: 75px;
  border: solid 1px #ccc;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 6px;
  background: #fff;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.flickr_badge_image a:hover {
  border: solid 1px #06f;
  -webkit-box-shadow: 0 1px 2px rgba(0, 102, 255, 0.4);
  -moz-box-shadow: 0 1px 2px rgba(0, 102, 255, 0.4);
  box-shadow: 0 1px 2px rgba(0, 102, 255, 0.4);
}

.flickr_badge_image a:visited {
  border: solid 1px #551a8b;
}

.flickr_badge_image img {
  background: #f0f2f6;
}

#flickr p {
  margin-top: 0;
}
