/* Buttons
   ========================================================================== */

/* address inconsistent `text-transform` inheritance for `button` in Chrome, Safari5+, and IE6+ */
button {
    text-transform: none;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    @include text-shadow($text-shadow-light);
    @include border-radius;
    @include box-shadow($inset-highlighting);
    @include background-clip;
    @include box-sizing(border-box);
    @include gradient-linear($color-gradient-from, $color-gradient-to);
    @include transition(box-shadow 0.2s linear);

    /* remove iOS Safari default styling */
    -webkit-appearance: none;
    display: inline-block;
    border: 1px solid $color-gradient-border;
    padding: .3571428em .7142857em; // 5px / 14px, 10px / 14px
    width: auto;
    height: 2.3571428em; // 33px / 14px
    overflow: visible; // the overflow property removes extra width in IE
    font-weight: normal;
    text-align: center;
    color: $color-text;
    cursor: pointer;

    &:hover {
        @include gradient-linear(lighten($color-gradient-from, 4%), lighten($color-gradient-to, 4%));

        border-color: darken($color-gradient-to, 20%);
        text-decoration: none;
    }

    &:active {
        @include box-shadow(inset 0 0.2em 0.25em rgba(#000000, 0.15));
        @include gradient-linear(darken($color-gradient-to, 4%), darken($color-gradient-from, 4%));

        border-color: darken($color-gradient-to, 20%);
        color: darken($color-text, 10%);
    }

    &:focus {
        /* better button focus glows */
        @include box-shadow($inset-highlighting, 0 0 7px $color-link-hover);

        outline: 0;
    }
}
