/* Comments
   ========================================================================== */

/**
 * Styling for user comments.
 *
 * Example HTML:
 *
 * <article class="comments">
 */

.comments {
    margin-bottom: 1em;
    border-radius: $default-border-radius;
    padding: 1px 1em;
    background: $color-background-box;
    word-wrap: break-word;

    h4 {
        .is-author {
            font-weight: normal;
        }

        .comment-anchor {
            float: right;
            font-weight: normal;
        }
    }
}

/**
 * Additional styling for article author's comments.
 *
 * Example HTML:
 *
 * <article class="comments comments-author">
 */

.comments-author {
    background: darken($color-background-box, 3%);
}

/**
 * Styling for user comments preview.
 */

#cpreview {
    margin-bottom: 2px;
    border-radius: $default-border-radius;
    padding: 1em;
    background-color: $color-highlight-box;
}

/**
 * Highlight text colour for comment errors.
 */

.error_message li {
    color: $color-error-text;
}

/**
 * Highlighting for comment form errors.
 */

.comments_error {
    border-color: $color-error-text;
    box-shadow: 0 0 4px 2px $color-error-text;
}


/* Popup comments (can be removed if you don't use popups)
   ========================================================================== */

/**
 * Restrict maximum width of popup container.
 */

#popup-page .container {
    max-width: 52em;
}
