//
// note: this file is for use with Sass - http://sass-lang.com,
// don't use it as your live site stylesheet!
//


/* Comments
   ========================================================================== */

.comments {
    margin-bottom: 1em;
    @include border-radius($default-border-radius);
    padding: 1px 1em;
    background: $color-background-box;
    word-wrap: break-word;

    h4 {
        .is-author {
            font-weight: normal;
        }

        .comment-anchor {
            float: right;
            font-weight: normal;
        }
    }
}

.comments-author {
    background: darken($color-background-box, 3%);
}

#cpreview {
    margin-bottom: 2px;
    @include border-radius($default-border-radius);
    padding: 1em;
    background: #fff3d6;
}

.comments_error {
    background: $color-error-background !important;
}

.required,
.error_message li {
    color: $color-error-text;
}

.required {
    cursor: help;
}


/* Popup comments (can be removed if you don't use popups)
   ========================================================================== */

#popup-page .container {
    max-width: 52em;
}
