/* Comments
   ========================================================================== */

.comments {
    @include border-radius;
    @include word-break(break-all);

    margin-bottom: 1em;
    padding: 1px 1em;
    background: $color-background-box;

    h4 {
        .is-author {
            font-weight: normal;
        }

        .comment-anchor {
            float: right;
            font-weight: normal;
        }
    }
}

.comments-author {
    background: darken($color-background-box, 3%);
}

#cpreview {
    @include border-radius;

    margin-bottom: 2px;
    padding: 1em;
    background: #fff9e1;
}

.comments_error {
    background: $color-error-background !important;
}

.required,
.error_message li {
    color: $color-error-text;
}

.required {
    cursor: help;
}


/* Popup comments (can be removed if you don't use popups)
   ========================================================================== */

#popup-page .container {
    max-width: 52em;
}
