/* Embedded content
   ========================================================================== */

/**
 * Make embedded elements responsive.
 */

img,
video {
    max-width: 100%;
    height: auto;
}

/**
 * 1. Remove the gap between images and the bottom of their containers.
 * 2. Remove border when inside `a` element in IE 8-10.
 */

img {
    vertical-align: middle; /* 1 */
    border: 0; /* 2 */
}

/**
 * Image alignment (compatible with Textile markup syntax).
 *
 * Example HTML:
 *
 * <img class="align-left">
 * <img class="align-right">
 * <img class="align-center">
 */

img {
    &.align-left {
        float: left;
        margin: 1em 1em 1em 0;
    }

    &.align-right {
        float: right;
        margin: 1em 0 1em 1em;
    }

    &.align-center {
        display: block;
        margin: 1em auto;
    }
}

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
    margin: 0;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
    overflow: hidden;
}
