/* Forms
   ========================================================================== */

/* zero out fieldsets */
fieldset {
    margin: 0;
    border: 0;
    padding: 0;
    min-width: 0; // address width being affected by wide descendants in Chrome and Firefox
}

/* zero out legends */
legend {
    border: 0;
    padding: 0;
}

button,
input,
optgroup,
select,
textarea {
    @include box-sizing(border-box);

    /* correct font size not being inherited in all browsers */
    font-size: 100%;
    @include adjust-font-size-to(14px, 0.875);

    /* address margins set differently in Firefox 4+, Safari 5+, Chrome */
    margin: 0;
    /* prevent elements from spilling out of their parent */
    max-width: 100%;
    font-family: $font-sans-serif;
    vertical-align: baseline;
}

/* colour placeholder text */
input,
textarea {
    @include input-placeholder {
        color: $color-text-footnote;
    }
}

/* remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* address `appearance` set to `searchfield` in Safari, Chrome */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
    @include border-radius(0);
    @include transition(box-shadow 0.2s linear);

    /* remove iOS Safari default styling */
    -webkit-appearance: none;
    border: 1px solid $color-border;
    padding: 0.3571428em; // 5px / 14px
    height: 2.3571428em; // 33px / 14px
    background: #ffffff;
    text-align: left;

    &:focus {
        /* better form focus glows */
        @include box-shadow(0 0 7px $color-link-hover);

        outline: 0;
    }
}

input[type="color"] {
    padding: 0;
}

/* fix the cursor style for Chrome's increment/decrement buttons */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/* address excess padding in IE 8-9 */
input[type="checkbox"],
input[type="radio"] {
    padding: 0;
}

[role="complementary"] input[type="search"] {
    margin-right: 2px;
    width: 66%;
    display: inline-block;
}

/* address inconsistent `text-transform` inheritance for `select` in Firefox 4+ */
select {
    text-transform: none;
}

select[size],
select[multiple] {
    height: auto;
}

select[size="0"],
select[size="1"] {
    height: 2.3571428em; // 33px / 14px
}

/* address `<select>` alignment in Safari, Chrome */
@media (-webkit-min-device-pixel-ratio: 0) {

    select[size],
    select[multiple],
    select[multiple][size] {
        padding-right: 0.5em;
        background-image: none;
    }

    select,
    select[size="0"],
    select[size="1"] {
        padding-right: 2.25em;
        background: #ffffff url("data:image/svg+xml,<svg version='1.1' baseProfile='full' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='21px' height='7px' viewBox='0 0 21 7' enable-background='new 0 0 21 7' xml:space='preserve'><polygon fill='#333333' points='2,0 7,7 12,0'/></svg>") no-repeat right center;
        background-size: 1.5em 0.5em; // 21px 7px
    }

}

optgroup {
    font-style: normal;
    font-weight: bold;
    color: $color-text;

    &::-moz-focus-inner { // kill phantom spacing and dotted border that appears in Firefox
        border: 0;
        padding: 0;
    }
}

textarea {
    height: auto;
    min-height: 3em;
    /* remove default vertical scrollbar in IE 8-9 */
    overflow: auto;
    resize: vertical;
    width: 100%;
}

/* make sure disable elements really are disabled */
button[disabled],
html input[disabled], // `html` is a workaround for Android 4 bug
input[type="button"][disabled],
input[type="reset"][disabled],
input[type="submit"][disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled],
span.disabled {
    @include box-shadow(none !important);

    opacity: 1; // overrides iOS opacity setting
    border-color: lighten($color-border, 9%) !important;
    color: #aaaaaa !important;
    background: #eeeeee !important;
    text-shadow: none !important;
    cursor: default !important;
}

.large {
    input {
        width: 50%;
        min-width: 302px;
    }

    textarea {
        height: 156px;
    }
}

.small {
    input {
        width: 25%;
        min-width: 151px;
    }

    textarea {
        height: 5.5em;
    }
}
