/* Forms
   ========================================================================== */

/**
 * 1. Define consistent fieldset border, margin, and padding.
 * 2. Address width being affected by wide descendants in Chrome, Firefox.
 */

fieldset {
    /* 1 */
    margin: 1em 0;
    border: 1px solid $color-border;
    padding: 1px 1em;
    /* 2 */
    min-width: 0;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
    /* 1 */
    border: 0;
    /* 2 */
    padding: 0;
}

/**
 * 1. Correct font properties not being inherited.
 * 2. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 3. Prevent elements from spilling out of their parent.
 */

button,
input,
optgroup,
select,
textarea {
    @include box-sizing(border-box);

    /* 1 */
    font-size: 100%;
    @include adjust-font-size-to(14px, 0.875);

    /* 2 */
    margin: 0;
    /* 3 */
    max-width: 100%; 
    font-family: $font-sans-serif;
    vertical-align: baseline;
}

/**
 * Colour for placeholder text.
 */

input,
textarea {
    @include input-placeholder {
        color: $color-text-footnote;
    }
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Styling of form input fields.
 *
 * 1. Remove iOS Safari default styling.
 */

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
    @include border-radius(0);
    @include transition(box-shadow 0.2s linear);

    /* 1 */
    -webkit-appearance: none;
    border: 1px solid $color-border;
    padding: 0.3571428em; // 5px / 14px
    height: 2.3571428em; // 33px / 14px
    background: #ffffff;
    text-align: left;

    &:focus {
        @include box-shadow(0 0 4px 2px $color-link-focus);

        border-color: $color-link-focus;
        outline: 0;
    }
}

/**
 * Remove padding from `color` fields.
 */

input[type="color"] {
    padding: 0;
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Remove excess padding in IE 8/9/10.
 * 2. Correct margins for inline checkbox/radio labels.
 */

input[type="checkbox"],
input[type="radio"] {
    /* 1 */
    padding: 0;

    & + label {
        /* 2 */
        margin-right: 0.5em;

        &:last-of-type {
            /* 2 */
            margin-right: 0;
        }
    }
}

/**
 * Inline search field on sidebar.
 */

[role="complementary"] input[type="search"] {
    width: 66%;
    display: inline-block;
}

/**
 * Correct `select` style inheritance in Firefox.
 */

select {
    text-transform: none;
}

/**
 * Override height set in a previous rule and allow auto heght.
 */

select[size],
select[multiple] {
    height: auto;
}

/**
 * Override height set in rule above and restrict to one line field.
 */

select[size="0"],
select[size="1"] {
    height: 2.3571428em; // 33px / 14px
}

@media (-webkit-min-device-pixel-ratio: 0) {

    /**
     * Address `select` alignment in Safari, Chrome, Opera.
     */

    select[size],
    select[multiple],
    select[multiple][size] {
        padding-right: 0.5em;
        background-image: none;
    }

    /**
     * Use indicator icon to signify the downdown ability of `select` in Safari,
     * Chrome, Opera.
     */

    select,
    select[size="0"],
    select[size="1"] {
        padding-right: 2.25em;
        background: #ffffff url("data:image/svg+xml,<svg version='1.1' baseProfile='full' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='21px' height='7px' viewBox='0 0 21 7' enable-background='new 0 0 21 7' xml:space='preserve'><polygon fill='#333333' points='2,0 7,7 12,0'/></svg>") no-repeat right center / 1.5em 0.5em;
    }

}

/**
 * Normalise styling of `optgroup`.
 */

optgroup {
    font-style: normal;
    font-weight: bold;
    color: $color-text;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9/10/11.
 * 2. Restrict to vertical resizing to prevent layout breakage.
 */

textarea {
    height: auto;
    min-height: 3em;
    /* 1 */
    overflow: auto;
    /* 2 */
    resize: vertical;
    width: 100%;
}

/**
 * Make sure disabled elements really are disabled and styled appropriately.
 *
 * 1. Override default iOS opacity setting.
 * 2. Re-set default cursor for disabled elements.
 */

button[disabled],
input[disabled],
input[type="button"][disabled],
input[type="reset"][disabled],
input[type="submit"][disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled],
span.disabled {
    @include box-shadow(none !important);

    /* 1 */
    opacity: 1;
    border-color: lighten($color-border, 9%) !important;
    color: #aaaaaa !important;
    background: #eeeeee !important;
    text-shadow: none !important;
    /* 2 */
    cursor: default !important;
}

/**
 * Width display options for `input` fields. Height display options
 * for textareas.
 *
 * Example HTML:
 *
 * <input class="small">
 * <input class="large">
 */

.small {
    input {
        width: 25%;
        min-width: 151px;
    }

    textarea {
        height: 5.5em;
    }
}

.large {
    input {
        width: 50%;
        min-width: 302px;
    }

    textarea {
        height: 9.75em;
    }
}
