//
// note: this file is for use with Sass - http://sass-lang.com,
// don't use it as your live site stylesheet!
//


/* Support for non-latin languages (can be removed if not required)
   ========================================================================== */

html[lang="ja-jp"] {
    font-family: "Hiragino Kaku Gothic Pro", Meiryo, sans-serif;
}

html[lang="ko-kr"] {
    font-family: GulimChe, Gulim, sans-serif;
}

html[lang="zh-cn"] {
    font-family: SimHei, sans-serif;
}

html[lang="zh-tw"] {
    font-family: PMingLiU, sans-serif;
}
