/* Support for non-latin languages (can be removed if not required)
   ========================================================================== */

/**
 * Preferred font for Japanese language.
 */

html[lang="ja-jp"] {
    font-family: "Hiragino Kaku Gothic Pro", Meiryo, sans-serif;
}

/**
 * Preferred font for Korean language.
 */

html[lang="ko-kr"] {
    font-family: GulimChe, Gulim, sans-serif;
}

/**
 * Preferred font for Chinese (PRC) language.
 */

html[lang="zh-cn"] {
    font-family: SimHei, sans-serif;
}

/**
 * Preferred font for Chinese (Taiwan) language.
 */

html[lang="zh-tw"] {
    font-family: PMingLiU, sans-serif;
}
