/* Layout
   ========================================================================== */

/**
 * 1. Always force scrollbar padding so we don't get 'jumping'.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. As 2 above, for Windows Phone.
 */

html {
    -webkit-tap-highlight-color: rgba($color-link-hover, 0.5);
    /* 1 */
    overflow-y: scroll;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 3 */
    -ms-text-size-adjust: 100%;
}

/**
 * 1. Set `body` to `relative` to allow positioning of absolute elements.
 * 2. Make sure body fills entire viewport height.
 * 3. Remove default margin.
 */

body {
    /* 1 */
    position: relative;
    /* 2 */
    min-height: 100vh;
    /* 3 */
    margin: 0;
    background: $color-background-box;
}

/**
 * Outer wrapper for main layouts.
 *
 * Example HTML:
 *
 * <div class="wrapper">
 *     <div class="container">
 *         Content
 *     </div>
 * </div>
 */

.wrapper {
    padding: 1px 0 1em;
    border-top: 1px solid $color-border;
    border-bottom: 1px solid $color-border;
    background: $color-background;
}

/**
 * Wrapper for layouts, and for site header/footer.
 *
 * Example HTML:
 *
 * <div class="wrapper">
 *     <div class="container">
 *         Content
 *     </div>
 * </div>
 */

.site-header,
.site-footer,
.container {
    width: 88%;
    max-width: $container-max-width;
    margin: 0 auto;
}

/**
 * Additional styling for child content within site header.
 */

.site-header {
    padding: 1em 0;

    h1 {
        margin: 0;
    }

    h3 {
        margin: 0.5em 0 0; // 12px margin top
    }
}

/**
 * Additional styling for child content within site footer.
 */

.site-footer {
    padding: 0.5em 0;
}

/**
 * Styling for articles.
 *
 * 1. Prevent really, really long words in article from breaking layout.
 */

.article {
    margin-bottom: 2em;
    /* 1 */
    word-wrap: break-word;
}

/**
 * Styling for complementary content.
 *
 * Initially the sidebar appears under main content, it is then repositioned
 * with media queries at 2nd breakpoint.
 *
 * 1. Prevent really, really long words in article from breaking layout.
 */

.complementary-content {
    margin: 2em -6% 0;
    padding: 0 6%;
    border-top: 2px dashed $color-border;
    /* 1 */
    word-wrap: break-word;
}
