/* Links
   ========================================================================== */

/**
 * 1. Remove default underline style from non-hover state links.
 * 2. Interrupt the decoration line to let the shape of the text show through
 *    in supported browsers.
 * 3. Specify link colour.
 * 4. Remove the gray background color from active links in IE 10.
 */

a {
    /* 1 */
    text-decoration: none;
    /* 2 */
    text-decoration-skip: ink edges; 
    /* 3 */
    color: $color-link;
    /* 4 */
    background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 * Specify link state colours.
 */

a {
    &:hover,
    &:active {
        outline: 0;
        text-decoration: underline;
        color: $color-link-hover;
    }

    &:focus {
        outline: thin dotted $color-link-focus;
    }

    &:visited {
        color: $color-link-visited;
    }
}

/**
 * Additional styling for `h1` heading links.
 */

h1 a {
    @include border-radius($default-border-radius / 4);

    color: $color-text;

    &:visited {
        color: $color-text;
    }

    &:hover,
    &:active {
        text-decoration: none;
        color: $color-text;
        background: $color-background-box;
    }
}

/**
 * Additional styling for child links within `header`.
 */

header h1 a {
    &:hover,
    &:active {
        background: darken($color-background-box, 6%);
    }
}

/**
 * Paginator (prev/next) navigation links on articles/article lists.
 *
 * Example HTML:
 *
 * <nav class="paginator">
 *     <a rel="prev">
 *     <a rel="next">
 */

.paginator {
    [rel="prev"] {
        float: left;
    }

    [rel="next"] {
        float: right;
    }
}
