/* Links
   ========================================================================== */

a {
    text-decoration: none;
    color: $color-link;
    background: transparent; // remove the gray background color from active links in IE10

    &:hover,
    &:active { /* improve readability when focused and also mouse hovered in all browsers */
        outline: 0;
        text-decoration: underline;
        color: $color-link-hover;
    }

    &:focus {
        outline: thin dotted $color-link-hover;
    }

    &:visited {
        color: $color-link-visited;
    }

    header & {
        @include border-radius($default-border-radius / 4);

        color: $color-text;

        &:hover,
        &:active {
            background: darken($color-background-box, 6%);
        }
    }
}

h1 a {
    @include border-radius($default-border-radius / 4);

    color: $color-text;

    &:visited {
        color: $color-text;
    }

    &:hover,
    &:active {
        text-decoration: none;
        color: $color-text;
        background: darken($color-background-box, 4%);
    }
}

.paginator {
    margin-bottom: 2em;

    [rel="prev"] {
        float: left;
    }

    [rel="next"] {
        float: right;
    }
}
