//
// note: this file is for use with Sass - http://sass-lang.com,
// don't use it as your live site stylesheet!
//


/* Links
   ========================================================================== */

a {
    text-decoration: none;
    color: $color-link;

    &:hover,
    &:active { /* improve readability when focused and also mouse hovered in all browsers */
        outline: 0;
        text-decoration: underline;
        color: $color-link-hover;
    }

    &:focus {
        outline: thin dotted $color-link-hover;
    }

    &:visited {
        color: $color-link-visited;
    }

    header & {
        color: $color-text;
        @include border-radius(.125em);

        &:hover,
        &:active {
            background: darken($color-background-box, 6%);
        }
    }
}

h1 a {
    color: $color-text;
    @include border-radius(.125em);

    &:visited {
        color: $color-text;
    }

    &:hover,
    &:active {
        text-decoration: none;
        color: $color-text;
        background: darken($color-background-box, 4%);
    }
}

.paginator {
    margin-bottom: 2em;

    [rel="prev"] {
        float: left;
    }

    [rel="next"] {
        float: left;
    }
}
