/* Navigation
   ========================================================================== */

/**
 * Style mobile first version of the navigation menu. Desktop version will
 * override some rules with extra styling at 1st breakpoint.
 *
 * Example HTML:
 *
 * <nav class="site-navigation">
 *     <ul>
 *         <li class="active"><a></li>
 *         <li><a></li>
 *         <li><a></li>
 *     </ul>
 * </nav>
 */

.site-navigation {
    background-color: $color-gradient-to;

    ul {
        max-width: $container-max-width;
        margin: 0 auto;
        padding: 0;
        list-style: none;
    }

    li {
        transition: box-shadow 0.2s linear;
        border-top: 1px solid $color-gradient-border;
        background-color: $color-gradient-from;

        &:hover {
            background-color: lighten($color-gradient-from, 4%);
        }

        &:active {
            background-color: darken($color-gradient-to, 4%);
            box-shadow: inset 0 0.2em 0.25em rgba(#000000, 0.15);
        }

        &.active {
            background-color: lighten($color-gradient-from, 8%);
            box-shadow: none;
        }
    }

    a {
        display: block;
        padding: 0.5em 6%;
        color: $color-text;

        &:hover,
        &:visited {
            color: $color-text;
            text-decoration: none;
        }

        &:active {
            color: darken($color-text, 10%);
            text-decoration: none;
        }
    }
}
