/* ==========================================================================
   Additional layout for screen media 576px and up
   ========================================================================== */

@media only screen and (min-width: $break-small) {

    /**
     * Desktop version of the navigation menu. Overrides mobile first version.
     *
     * Example HTML:
     *
     * <nav class="site-navigation">
     *     <ul>
     *         <li class="active"><a></li>
     *         <li><a></li>
     *         <li><a></li>
     *     </ul>
     * </nav>
     */

    .site-navigation {
        border-top: 1px solid $color-border;

        ul {
            width: 88%;
        }

        li {
            float: left;
            border-top: 0;
            border-right: 1px solid $color-gradient-border;

            &:first-child {
                border-left: 1px solid $color-gradient-border;
            }
        }

        a {
            padding: 0.5em 1em;
        }
    }

}


/* ==========================================================================
   Additional layout for screen media 864px and up
   ========================================================================== */

@media only screen and (min-width: $break-large) {

    /**
     * Enlarge baseline text size.
     */

    html {
        font-size: 112.5%; // 18px
    }

    /**
     * Two-column layout.
     *
     * 1. Complementary content moves from under main content to the right
     *    column and main column is reduced in width to allow this.
     * 2. Golden ratio at container maximum width.
     *
     * Example HTML:
     *
     * <main></main>
     * <aside class="complementary-content"></aside>
     */

    main {
        /* 1 */
        float: left;
        /* 2 */
        width: 54%;
    }

    .complementary-content {
        /* 1 */
        float: right;
        margin: 2em 0;
        border: 1px solid lighten($color-border, 9%);
        border-radius: $default-border-radius;
        padding: 0 1em;
        width: 30%;
        background: $color-background-box;
    }
}
