//
// note: this file is for use with Sass and Compass - http://sass-lang.com, http://compass-style.org
// don't use it as your live site stylesheet!
//


/* ==========================================================================
   Additional layout for screen media 576px and up
   ========================================================================== */

@media only screen and (min-width: $break-small) {

.site-navigation {
    border-top: 1px solid $color-border;

    ul {
        width: 93.75%;
    }

    li {
        float: left;
        border-top: 0;
        border-right: 1px solid $color-gradient-border;

        &:first-child {
            border-left: 1px solid $color-gradient-border;
        }
    }

    a {
        padding: 0.5em 1em;
    }
}

}


/* ==========================================================================
   Additional layout for screen media 864px and up
   ========================================================================== */

@media only screen and (min-width: $break-medium) {

main {
    float: left;
    width: 62.5%;
}

[role="complementary"] {
    float: right;
    border: 1px solid lighten($color-border, 9%);
    @include border-radius($default-border-radius);
    padding: 0 1em;
    width: 30%;
    background: $color-background-box;
}

}


/* ==========================================================================
   Additional layout for screen media 1280px and up
   ========================================================================== */

@media only screen and (min-width: $break-large) {

header,
footer,
.container {
    width: 93.75%;
}

}
