//
// note: this file is for use with Sass and Compass - http://sass-lang.com, http://compass-style.org
// don't use it as your live site stylesheet!
//


/* Tables
   ========================================================================== */

/* consistent tables */
table {
    margin-bottom: 1em;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

caption {
    font-style: italic;
    text-align: left;
    margin-bottom: 0.5em;
}

th,
td {
    /* make table cells align top and left by default */
    vertical-align: top;
    text-align: left;
    border-bottom: 1px solid $color-border;
    padding: 0.25em 0.5em 0.25em 0;

    &:last-child {
        padding-right: 0;
    }
}

thead tr:last-child {
    th,
    td {
        border-bottom: 2px solid $color-border;
    }
}

tfoot {
    th,
    td {
        padding: 0.325em 0.61538em 0.325em 0;
    }

    &:last-child {
        padding-right: 0;
    }

    tr:last-child {
        th,
        td {
            border-bottom: 0;
        }
    }
}

/* vertical cell alignment */
[rowspan] {
    vertical-align: middle;
}
