/* Tables
   ========================================================================== */

/* consistent tables */
table {
    margin-bottom: 1em;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

caption {
    font-style: italic;
    text-align: left;
    margin-bottom: 0.5em;
}

th,
td {
    /* make table cells align top and left by default */
    vertical-align: top;
    text-align: left;
    border-bottom: 1px solid $color-border;
    padding: 0.25em;
}

thead tr:last-child {
    th,
    td {
        border-bottom: 2px solid $color-border;
    }
}

tfoot {
    th,
    td {
        padding: 0.3333333em;
    }

    tr:last-child {
        th,
        td {
            border-bottom: 0;
        }
    }
}

/* vertical cell alignment */
[rowspan] {
    vertical-align: middle;
}
