/* Support for non-latin languages (can be removed if not required)
   ========================================================================== */

/**
 * Preferred font for Japanese language.
 */

[lang="ja-jp"] {
    font-family: "Hiragino Kaku Gothic Pro", Meiryo, sans-serif;
}

/**
 * Preferred font for Korean language.
 */

[lang="ko-kr"] {
    font-family: GulimChe, Gulim, sans-serif;
}

/**
 * Preferred font for Chinese (PRC) language.
 */

[lang="zh-cn"] {
    font-family: SimHei, sans-serif;
}

/**
 * Preferred font for Chinese (Taiwan) language.
 */

[lang="zh-tw"] {
    font-family: PMingLiU, sans-serif;
}

/**
 * Reduce risk of render glitches in links on RTL languages.
 */

[dir="rtl"] a {
    unicode-bidi: embed;
}

/**
 * Computer code should be LTR.
 */

[dir="rtl"] code {
    direction: ltr;
}

/**
 * Swap image alignment right/left positions in RTL languages.
 */

[dir="rtl"] img {
    &.align-left {
        margin: 1em 0 1em 1em;
        float: right;
    }

    &.align-right {
        margin: 1em 1em 1em 0;
        float: left;
    }
}

/**
 * Swap table caption alignment in RTL languages.
 */

[dir="rtl"] caption {
    text-align: right;
}

/**
 * Swap table cell text alignments in RTL languages.
 */

[dir="rtl"] {
    th,
    td {
        text-align: right;
    }
}

/**
 * Swap menu/list padding positions in RTL languages.
 */

[dir="rtl"] {
    menu,
    ol:not(.site-navigation ul),
    ul:not(.site-navigation ul) {
        padding: 0 2em 0 0;
    }
}

/**
 * Swap definition description margin positions in RTL languages.
 */

[dir="rtl"] dd {
    margin: 0 2em 0 0;
}

/**
 * Swap checkbox/radio margin positions in RTL languages.
 */

[dir="rtl"] {
    input[type="checkbox"],
    input[type="radio"] {
        + label {
            margin: 0 0 0 0.5em;

            &:last-of-type {
                margin: 0;
            }
        }
    }
}

/**
 * Swap paginator (prev/next) navigation links on articles/article lists.
 */

[dir="rtl"] .paginator {
    [rel="prev"] {
        float: right;
    }

    [rel="next"] {
        float: left;
    }
}

/**
 * Swap anchor float position on comments.
 */

[dir="rtl"] .comments h4 .comment-anchor {
    float: left;
}
