/* Forms
   ========================================================================== */

/**
 * 1. Address width being affected by wide descendants in Chrome, Firefox.
 * 2. Define consistent fieldset border, margin, and padding.
 */

fieldset {
    /* 1 */
    min-width: 0;
    /* 2 */
    margin: 1em 0;
    padding: 1px 1em;
    border: 1px solid $color-border;
}

/**
 * Normalize styling of `legend`.
 *
 * 1. Correct wrapping not present in IE 11 and Edge 12/13.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Correct `color` not being inherited from fieldset in IE 11.
 */

legend {
    /* 1 */
    display: table;
    /* 1 */
    max-width: 100%;
    /* 2 */
    padding: 0;
    /* 3 */
    color: inherit;
    /* 1 */
    white-space: normal;
    /* 1 */
    box-sizing: border-box;
}

/**
 * 1. Prevent elements from spilling out of their parent.
 * 2. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 3. Correct font properties not being inherited.
 */

button,
input,
optgroup,
select,
textarea {
    /* 1 */
    max-width: 100%;
    /* 2 */
    margin: 0;
    color: $color-text-form;
    font-family: $font-form;
    /* 3 */
    font-size: 1em;
    line-height: 1.375em; // 22px / 16px
    vertical-align: baseline;
    box-sizing: border-box;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

/**
 * Remove inner padding in Safari and Chrome on OS X. Safari (but not Chrome)
 * clips the cancel button when the search input has padding (and `textfield`
 * appearance).
 */

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Styling of form input fields.
 *
 * 1. Remove browser-specific default styling.
 */

[type="color"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
    height: 2.5em; // 40px / 16px
    padding: 0.5em 0.1875em; // 8px / 16px + 3px / 16px
    transition: box-shadow 0.2s linear;
    border: 1px solid $color-border;
    border-radius: 0;
    background: $color-background-form;
    /* 1 */
    appearance: none;

    &:focus {
        border-color: $color-link-focus;
        outline-width: 0;
    }
}

/**
 * Remove padding from `color` fields.
 */

[type="color"] {
    padding: 0;
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Remove any excess padding.
 * 2. Correct margins for inline checkbox/radio labels.
 */

[type="checkbox"],
[type="radio"] {
    /* 1 */
    padding: 0;

    + label {
        /* 2 */
        margin: 0 0.5em 0 0;

        &:last-of-type {
            /* 2 */
            margin: 0;
        }
    }
}

/**
 * Use indicator icon to signify the drop-down ability of `select`.
 */

select {
    padding-right: 1.5em; // 24px / 16px
    background: $color-background-form url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='17px' height='5px' viewBox='0 0 17 5'><polygon fill='%23333' points='0,0 5,5 10,0'/></svg>") right center no-repeat;
    background-size: 1.0625em 0.3125em; // 17px / 16px, 5px / 16px
    text-transform: none;
}

/**
 * Remove browser-specific `select` UI in IE 11.
 */

select::-ms-expand {
    opacity: 0;
}

/**
 * Override height and background set in a previous rule and allow auto height.
 */

select[size],
select[multiple] {
    height: auto;
    padding-right: 0.5em;
    background-image: none;
}

/**
 * Override height set in rule above and restrict to one line field.
 */

select[size="0"],
select[size="1"] {
    height: 2.5em; // 40px / 16px
}

/**
 * Normalize styling of `optgroup`.
 */

optgroup {
    color: $color-text-form;;
    font-style: normal;
    font-weight: bold;
}

/**
 * 1. Remove default vertical scrollbar in IE 11.
 * 2. Remove unwanted space below `textarea` in Safari, Chrome, Opera.
 * 3. Restrict to vertical resizing to prevent layout breakage.
 */

textarea {
    width: 100%;
    height: auto;
    min-height: 3em;
    /* 1 */
    overflow: auto;
    /* 2 */
    vertical-align: top;
    /* 3 */
    resize: vertical;
}

/**
 * Make sure disabled elements really are disabled and styled appropriately.
 *
 * 1. Re-set default cursor for disabled elements.
 * 2. Override default iOS opacity setting.
 */

[disabled],
[disabled] option,
[disabled] optgroup,
span.disabled {
    border-color: $color-border-light !important;
    background: $color-background-form-disabled !important;
    color: $color-text-form-disabled !important;
    text-shadow: none !important;
    box-shadow: none !important;
    /* 1 */
    cursor: default !important;
    /* 2 */
    opacity: 1;
}


/**
 * Styling for form field validation.
 */

input,
select,
textarea {
    &:focus:invalid {
        border-color: $color-error-text;
        box-shadow: none; // Normalize Firefox styling
    }
}

/**
 * Width display options for `input` fields. Height display options
 * for textareas.
 *
 * Example HTML:
 *
 * <input class="small">
 * <input class="large">
 */

.small {
    input {
        width: 25%;
        min-width: 151px;
    }

    textarea {
        height: 5.5em;
    }
}

.large {
    input {
        width: 50%;
        min-width: 302px;
    }

    textarea {
        height: 9.75em;
    }
}

/**
 * Styling for required field indicators.
 *
 * Example HTML:
 *
 * <b class="required" title="Required">*</b>
 */

.required {
    border: 0;
    color: $color-error-text;
}
