/* Links
   ========================================================================== */

/**
 * 1. Specify link colour.
 * 2. Remove default underline style from non-hover state links.
 * 3. Interrupt the decoration line to let the shape of the text show through
 *    in supported browsers.
 */

a {
    /* 1 */
    color: $color-link;
    /* 2 */
    text-decoration: none;
    /* 3 */
    text-decoration-skip: ink;

    &:hover,
    &:active {
        outline: 0;
        color: $color-link-hover;
        text-decoration: underline;
    }

    &:focus {
        outline: thin solid $color-link-focus;
    }
}

/**
 * Additional styling for h1-h3 heading links.
 *
 * 1. Expanded CSS level 3 `text-decoration-color` property in supported
 *    browsers, older browsers ignore this addition.
 */

h1,
h2,
h3 {
    a {
        color: $color-text;

        &:hover,
        &:active {
            color: $color-text;
            text-decoration-color: rgba($color-text, 0.5);  /* 1 */
        }
    }
}

/**
 * Paginator (prev/next) navigation links on articles/article lists.
 *
 * Example HTML:
 *
 * <nav class="paginator">
 *     <a rel="prev">
 *     <a rel="next">
 */

.paginator {
    clear: both;

    [rel="prev"] {
        float: left;
    }

    [rel="next"] {
        float: right;
    }
}
