/* Navigation
   ========================================================================== */

/**
 * Style mobile first version of the navigation menu. Desktop version will
 * override some rules with extra styling at 1st breakpoint.
 *
 * Example HTML:
 *
 * <nav class="site-navigation">
 *     <ul>
 *         <li class="active"><a></li>
 *         <li><a></li>
 *         <li><a></li>
 *     </ul>
 * </nav>
 */

.site-navigation {
    background-color: $color-gradient-to;

    > div {
        position: relative;
        max-width: $container-max-width;
        margin: 0 auto;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li {
        transition: box-shadow 0.2s linear;
        border-bottom: 1px solid $color-gradient-border;
        background-color: $color-gradient-from;

        &:first-child {
            border-top: 1px solid $color-gradient-border;
        }

        &:hover {
            background-color: lighten($color-gradient-from, 4%);
        }

        &:active {
            background-color: darken($color-gradient-to, 4%);
            box-shadow: $inset-lowlighting;
        }

        &.active {
            background-color: lighten($color-gradient-from, 8%);
            box-shadow: none;
        }
    }

    a {
        display: block;
        padding: 0.5em 6%;
        color: $color-text;

        &:hover,
        &:visited {
            color: $color-text;
            text-decoration: none;
        }

        &:active {
            color: darken($color-text, 10%);
            text-decoration: none;
        }
    }
}

/**
 * Search field in navigation.
 */

.search {
    padding: 1em 6% 0.5em;
    background: $color-background;

    // search input field
    input[type="search"] {
        width: 16em;
        height: 2.125em;
        padding-right: 0.1875em;
        padding-left: 2em;
        border-radius: $border-radius;
        background: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSczMnB4JyBoZWlnaHQ9JzMycHgnIHZpZXdCb3g9JzAgMCAzMiAzMic+PGcgZmlsbD0nJTIzMzMzJz48cGF0aCBkPSdNNCwxM2MwLTUsNC05LDktOWM1LDAsOSw0LDksOWMwLDUtNCw5LTksOUM4LDIyLDQsMTgsNCwxM3ogTTEzLDE5YzMuMywwLDYtMi43LDYtNnMtMi43LTYtNi02cy02LDIuNy02LDZTOS43LDE5LDEzLDE5eicvPjxwYXRoIGQ9J00xNy41LDE5bDEuNS0xLjVsNC41LDNMMjgsMjVjMCwwLDAsMS41LTAuNzUsMi4yNVMyNSwyOCwyNSwyOGwtNC41LTQuNUwxNy41LDE5eicvPjwvZz48L3N2Zz4=") no-repeat left center;
        background-size: 2em 2em;
    }
}
