/* ==========================================================================
   Additional layout for screen media 576px and up
   ========================================================================== */

@media only screen and (min-width: $break-small) {

    /**
     * Desktop version of the navigation menu. Overrides mobile first version.
     *
     * Example HTML:
     *
     * <nav class="site-navigation">
     *     <ul>
     *         <li class="active"><a></li>
     *         <li><a></li>
     *         <li><a></li>
     *     </ul>
     * </nav>
     */

    .site-navigation {
        border-top: 1px solid $color-border;

        ul {
            width: 88%;
        }

        li {
            float: left;
            border-top: 0;
            border-right: 1px solid $color-gradient-border;

            &:first-child {
                border-left: 1px solid $color-gradient-border;
            }

            [dir="rtl"] & {
                float: right;
            }
        }

        a {
            padding: 0.5em 1em;
        }
    }

}


/* ==========================================================================
   Additional layout for screen media 864px and up
   ========================================================================== */

@media only screen and (min-width: $break-large) {

    /**
     * Enlarge baseline text size.
     */

    html {
        font-size: 112.5%; // 18px
    }
}
